= content_for :body do
  class="blue-background"
- @gig_sub_categories.each do |sub_category|
  .col-lg-6
    .panel.panel-default
      .panel-body
        .thumb.pull-left
          = link_to new_gig_category_gig_sub_category_gig_path(sub_category.gig_category, sub_category) do
            = image_tag "#{sub_category.name.split[0]}thumb.png", class: "gig-thumb"
        .caption
          %h3.task-header= sub_category.name
          %p.task-description= sub_category.description
          %br/
          = link_to "Select", new_gig_category_gig_sub_category_gig_path(sub_category.gig_category, sub_category), class: "btn btn-success btn-lg"
    / end panel-body
  / end panel
