/ <haml_silent> case GigCategory.find(params[:gig_category_id]).name </haml_silent><haml_block>
/ </haml_block><haml_silent> when &quot;Yard Work&quot; </haml_silent><haml_block>
/ <haml_silent> case GigSubCategory.find(params[:id]).name </haml_silent><haml_block>
/ </haml_block><haml_silent> when &quot;Lawn Mowing&quot; </haml_silent><haml_block>
/ <haml_loud> render partial: &#39;gigs/forms/lawnmowingform&#39; </haml_loud>
/ </haml_block><haml_silent> when &quot;Leaf Raking&quot; </haml_silent><haml_block>
/ <haml_loud> render partial: &#39;gigs/forms/leafrakingform&#39; </haml_loud>
/ </haml_block><haml_silent> when &quot;Gardening&quot; </haml_silent><haml_block>
/ <haml_loud> render partial: &#39;gigs/forms/gardeningform&#39; </haml_loud>
/ </haml_block><haml_silent> else </haml_silent><haml_block>
/ <haml_loud> render partial: &#39;gigs/forms/otherform&#39; </haml_loud>
/ </haml_block>
/ </haml_block><haml_silent> when &quot;House Work&quot; </haml_silent><haml_block>
/ </haml_block><haml_silent> when &quot;Cleaning&quot; </haml_silent><haml_block>
/ </haml_block><haml_silent> else </haml_silent><haml_block>
/ <haml_loud> render :partial =&gt; &#39;gigs/forms/otherform&#39; </haml_loud>
/ </haml_block>
