= @gig_sub_category.name
.panel.panel-default
  .panel-heading
    What do you need done?
  .panel-body
    .container.gig
      = simple_form_for Gig.new do |f|
        = f.hidden_field :gig_category_id, value: params[:gig_category_id]
        = f.hidden_field :gig_sub_category_id, value: params[:id]
        = f.hidden_field :active, value: true
        .row.form-div
          .col-md-12
            %h4 Give your gig a title
            = f.input :name, label: false,            |
              placeholder: "Be clear and descriptive" |
        .row.form-div
          .col-md-12
            %h4.form-header How big is your lawn?
            %hr.form-divider/
            %ul.list-inline.gig-radios
              .col-md-4
                %li
                  = f.input :user_var1, label: false, as: :radio_buttons, collection: ["Small"], checked: "Small"
              .col-md-4
                %li
                  = f.input :user_var1, label: false, as: :radio_buttons, collection: ["Medium"]
              .col-md-4
                %li
                  = f.input :user_var1, label: false, as: :radio_buttons, collection: ["Large"]
        .row.form-div
          .col-md-12
            %h4 How long does it normally take you to mow your lawn?
            %hr.form-divider/
            %ul.list-inline.gig-radios
              .col-md-3
                %li
                  = f.input :user_var2, label: false, as: :radio_buttons, collection: ["Under 1 Hour"], checked: "Under 1 Hour"
              .col-md-3
                %li
                  = f.input :user_var2, label: false, as: :radio_buttons, collection: ["1 to 2 Hours"]
              .col-md-3
                %li
                  = f.input :user_var2, label: false, as: :radio_buttons, collection: ["2 Hours or More"]
              .col-md-3
                %li
                  = f.input :user_var2, label: false, as: :radio_buttons, collection: ["Not Sure"]
        .row.form-div
          .col-md-12
            %h4 What would you like the runner to bring?
            %hr.form-divider/
            %ul.list-inline.gig-radios
              .col-md-3
                %li
                  = f.input :is_extra1, label: "Lawnmower", as: :boolean
              .col-md-3
                %li
                  = f.input :is_extra2, label: "Bags", as: :boolean
              .col-md-3
                %li
                  = f.input :is_extra3, label: "Weed Whacker", as: :boolean
              .col-md-3
                %li
                  = f.input :user_var4, label: "Hedge Trimmer", as: :boolean
        .row.form-div
          .col-md-12
            %h4 Summary
            = f.input :summary, label: false, placeholder: "Tell us all about your gig. You should be descriptive enough to allow people to make accurate bids.", |
              input_html: { rows: 5 }                                                                                                                             |
        .row.form-div
          .col-md-8
            %h4 Address
            = f.input :address, label: false, placeholder: "What's your address?"
          .col-md-4
            %h4 Zip code
            = f.input :zip_code, label: false, placeholder: "What's your zip?"
        .row.form-div
          .col-md-6.col-md-offset-3.text-center
            %label
              Take a picture of your lawn! Photos are
              %strong strongly
              recommended so that
              you get accurate estimates.
            %span.btn.btn-default.btn-file
              %i.fa.fa-cloud-upload.fa-lg
              Upload Photos
              \#{file_field_tag "images[]", type: :file, multiple: true}
        %br/
        %br/
        .row
          .col-md-6.col-md-offset-3.text-center
            = f.submit "Post it!", class: "btn btn-success btn-lg wide fill"
        #photos= render 'photos/list'
        %br/
