%div{:class => "panel sixty-width #{(message.user == current_user) ? "pull-right ios-blue" : "pull-left ios-gray"}", :id => "#{dom_id(message)}"}
  .panel-body
    = image_tag message.user.avatar.url(:thumb), class: "img-circle avatar-small"
    %span.pull-right
      = local_time_ago(message.created_at)
    %br/
    .row-space-2
      = message.content
