- publish_to conversation_messages_path(@conversation) do
  $('#chat').append("#{j render @message}");
  var sender_id = "#{@message.user.id}";
  var receiver_id = $('meta[name=user-id]').attr("content");
  var objDiv = document.getElementById("chat");
  objDiv.scrollTop = objDiv.scrollHeight;
  if(sender_id != receiver_id){
  $('#chat').children().last().removeClass("pull-right ios-blue").addClass("pull-left ios-gray");
  }
$('#new_message')[0].reset();
