= content_for :body do
  class="blue-background"
.row
  .col-md-1
  .col-md-3.text-center.clearfix
    = link_to @other do
      = image_tag @other.avatar.url(:medium), class: "img-circle avatar-large"
      %br/
      %strong.white= @other.first_name
      .btn.btn-default.wide View Profile
  .col-md-3
  .col-md-7
    #chat
      = render @messages, locals: {conversation: @conversation}
      .clearfix
    %br/
    .panel.panel-default
      .panel-body
        = form_for [@conversation, @conversation.messages.new], remote: true do |f|
          .form-group
            = f.text_area :content, placeholder: "Write a message", rows: 5, class: "form-control"
          = f.hidden_field :user_id, value: current_user.id
          .actions
            = f.submit "Send Message", class: "btn btn-primary"
  .col-md-1
= subscribe_to conversation_messages_path(@conversation)
:javascript
  $('#chat').scrollTop($('#chat')[0].scrollHeight - $('#chat')[0].clientHeight);
