/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */

 .block-light-blue {
     background-color: #86B0BF !important;
 }

.block-orange {
    background-color: #FF8646 !important;
}

.block-green {
    background-color: #6AAB43 !important;
}

.btn-green {
    background-color: #6AAB43 !important;
    border: 2px solid #6AAB43;
}

.btn-green:active,
.btn-green:hover,
.btn-green:focus {
        border: 2px solid #6AAB43 !important;
    }

.pacifico {
    font-family: pacifico;
}


::selection {
  background: #6AAB43; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #6AAB43; /* Gecko Browsers */
  color: white;
}