= content_for :body do
  class="blue-background"
#user-form.row
  .col-md-3
    %ul.sidebar-list.profile
      %li.sidebar-item
        = link_to "View Profile", user_path(current_user.id), class: "btn btn-default wide"
        %br/
        %br/
        = image_tag @user.avatar.url(:medium), class: "avatar-full"
    %br/
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.file_field :avatar, type: :file, class: 'filestyle',                 |
        :'data-classButton' => 'btn btn-primary', 'data-size': 'md',           |
        :'data-input' => 'false', 'data-iconName': 'fa fa-cloud-upload fa-lg', |
        :'data-buttonText' => 'Change Avatar'                                  |
      %p.italics.text-center.white Under 5 MB, .jpg, .png
  .col-md-9.max-600
    .panel.panel-default
      .panel-heading.text-center
        Edit Your Profile
      %hr.padding-10/
      .panel-body
        / <haml_silent> if @user.errors.any? </haml_silent><haml_block>
        / <div class="alert alert-danger text-left" id="error_explanation">
        / <haml_loud> render &#39;shared/devisemes&#39; </haml_loud>
        / <h2><haml_loud> pluralize(@user.errors.count, &quot;error&quot;) </haml_loud>:</h2>
        / <ul>
        / <haml_silent> @user.errors.full_messages.each do |message| </haml_silent><haml_block>
        / <li><haml_loud> message </haml_loud></li>
        / </haml_block>
        / </ul>
        / </div>
        / </haml_block>
        = f.label :first_name, "First name"
        = f.input :first_name, label: false, autofocus: true, :placeholder => "First Name"
        = f.label :last_name, "Last name"
        = f.input :last_name, label: false, placeholder: "Last name"
        = f.label :birthday
        = f.input :birthday, as: :date, start_year: Date.today.year - 100,           |
          end_year: Date.today.year - 12, order: [:month, :day, :year], label: false |
        = f.label :slug, "Display name"
        %span.wee
          = f.input :slug, label: false, placeholder: "Display name"
        = f.label :zip_code, "Zip code"
        = f.input :zip_code, label: false, placeholder: "Zip code"
        = f.label :description, "Tell us about yourself"
        = f.input :description, label: false, placeholder: "E.g., Student at Wash U majoring in biology. Dog lover. Believes eating the Nutella out of the jar with your finger is perfectly acceptable.", input_html: { rows: 7 }
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Not yet confirmed: #{resource.unconfirmed_email}
        %hr/
        = f.input :password, label: false, autocomplete: "off", placeholder: "New password (leave blank if you don't want to change it)"
        = f.input :password_confirmation, label: false, autocomplete: "off", placeholder: "Confirm new password"
        = f.button :submit, "Save", :class => "btn btn-primary"
        %br/
        %br/
        %br/
        %hr.bold/
        %span.text-center Unhappy?
        %br/
        %br/
        = link_to "Cancel your account", user_delete_account_path(current_user), class: "btn btn-info"
