= content_for :body do
  class="blue-background"
#user-form.row
  .col-sm-6.col-sm-offset-3.text-center
    .panel.panel-default
      .panel-heading
        Sign up
      %hr.padding-10/
      .panel-body
        / <div class="row">
        / <div class="col-md-6">
        / <haml_loud> link_to user_omniauth_authorize_path(:facebook), class: &quot;btn btn-block btn-social btn-facebook&quot; do </haml_loud><haml_block>
        / <span class="fa fa-facebook"></span>
        / Facebook
        / </haml_block>
        / </div>
        / <div class="col-xs-12 hidden-md hidden-lg"><br></div>
        / <div class="col-md-6">
        / <haml_loud> link_to user_omniauth_authorize_path(:google_oauth2), class: &quot;btn btn-block btn-social btn-google&quot; do </haml_loud><haml_block>
        / <span class="fa fa-google"></span>
        / Google
        / </haml_block>
        / </div>
        / <div class="col-xs-12"><br></div>
        / </div>
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render 'shared/devisemes'
          .text-left
            / Add fields for address (street address, city, state, zip), phone number, date of birth
            #first-name.input-wrapper
              %span.fa.fa-user
              = f.input :first_name, label: false, placeholder: 'First name', |
                autofocus: true, wrapper_html: { class:  'form-header' }      |
            #last-name.input-wrapper
              %span.fa.fa-user
              = f.input :last_name, label: false, placeholder: 'Last name', |
                wrapper_html: { class:  'form-header' }                     |
            #email.input-wrapper
              %span.fa.fa-envelope
              = f.input :email, label: false, placeholder: 'Email', |
                wrapper_html: { class:  'form-header' }             |
            #password.input-wrapper
              %span.fa.fa-lock
              = f.input :password, label: false, placeholder: 'Password',                  |
                wrapper_html: { class:  'form-header' }, input_html: {autocomplete: "off"} |
            = f.label :birthday
            / <span title="You must be 18 or older" data-toggle="tooltip" id="age-tooltip">  <i class="fa fa-question-circle fa-lg"></i></span>
            = f.input :birthday, as: :date, start_year: Date.today.year,                                     |
              end_year: Date.today.year - 100, order: [:month, :day, :year], value: Date.today, label: false |
            / <div class="input-wrapper" id="phone">
            / <span class="fa fa-mobile"></span>
            / <haml_loud> f.input :phone, label: false, placeholder: &quot;Cell phone&quot;, wrapper_html: { class:  &#39;form-header&#39; }  </haml_loud>
            / </div>
            / <div class="input-wrapper" id="street">
            / <span class="fa fa-home"></span>
            / <haml_loud> f.input :address, label: false, placeholder: &quot;Street address&quot;, wrapper_html: { class:  &#39;form-header&#39; }  </haml_loud>
            / </div>
            / <div class="input-wrapper" id="zip_code">
            / <span class="fa fa-map-marker"></span>
            / <haml_loud> f.input :zip_code, label: false, placeholder: &quot;Zip code&quot;, wrapper_html: { class:  &#39;form-header&#39; }  </haml_loud>
            / </div>
            .form-group.boolean
              #tos.checkbox
                = f.input :tos_accepted, label: ("I agree to the Giggity #{link_to 'Terms of Service', terms_path} and #{link_to 'Privacy Policy', privacy_policy_path}").html_safe
            .text-center
              %br/
              = f.submit "Let's go", class: "btn btn-primary"
      .panel-footer.text-left
        %i.fa.fa-lock
        We respect your privacy. Your information is secured with 128-bit SSL encryption, and you can delete your account at any time.
