= content_for :body do
  class="blue-background"
.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading Messages
      %hr.padding-10/
      .panel-body
        - if @conversations.any?
          .container
            %hr/
            - @conversations.each do |conversation|
              - other = conversation.sender == current_user ? conversation.recipient : conversation.sender
              = link_to conversation_messages_path(conversation) do
                - if conversation.messages.any?
                  %div{:class => "row conversation #{"unread" if conversation.messages.last.unread?(current_user)} #{"sent-message" if conversation.messages.last.user == current_user}
											#{"admin-msg" if conversation.sender == User.find_by(email: "admin@giggity.rocks")}"}
                    .col-sm-3.text-center
                      = image_tag other.avatar.url(:thumb), class: "img-circle avatar-medium"
                      %br/
                      = other.first_name
                      %br/
                    .col-sm-3.text-center.small
                      = local_time_ago(conversation.messages.last.created_at)
                    .col-sm-6
                      = conversation.messages.last.content.truncate(50)
              %hr/
        - else
          .row.text-center
            .col-md-4.col-md-offset-4
              %img.center-block.img-responsive{:src => "https://icons.iconarchive.com/icons/pixelresort/wall-e/512/Wall-E-icon.png"}/
          .panel-footer.text-center
            %h2 You don't have any messages... yet.
            %p Message someone from their gig listing or their profile.
