%h2
  = I18n.t('authy_register_title', {:scope => 'devise'})
= verify_authy_form do
  %legend= I18n.t('submit_token_title', {:scope => 'devise'})
  = label_tag :token
  = text_field_tag :token, "", :autocomplete => :off, :id => 'authy-token'
  %label
    = check_box_tag :remember_device
    %span= I18n.t('remember_device', {:scope => 'devise'})
  / Help tooltip
  / You need to configure a help message.
  / See documentation: https://github.com/authy/authy-form-helpers#help-tooltip
  / <haml_loud> link_to &#39;?&#39;, &#39;#&#39;, :id =&gt; &#39;authy-help&#39; </haml_loud>
  = authy_request_sms_link
  = submit_tag I18n.t('submit_token', {:scope => 'devise'}), :class => 'btn'
