= content_for :body do
  class="blue-background"
#user-form.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.text-center
        Cancel your account
      %hr.padding-10/
      .panel-body
        .text-center
          = image_tag 'sad-face.png', class: "img-responsive no-margin-img"
        %br/
        %h4 Well... I guess this is it.
        %p
          Thanks for trying
          = succeed "." do
            %span.pacifico.large-font giggity
        %p We're sorry to see you go, but you're always welcome back.
        / <p></p>
        %br/
        .text-center
          = link_to "Self Destruct", @user, method: :delete, data: { confirm: "This will permanently and irreversibly delete your account. Are you sure?" }, class: "btn btn-danger"
