= content_for :body do
  class="blue-background"
.row
  .col-sm-3
    .center
      = image_tag @user.avatar.url(:medium), class: "avatar-full"
      - if current_user && current_user != @user
        .row-space-2
          = link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide"
    %br/
    .panel.panel-default
      .panel-heading.text-center
        %span#average_rating
        %br/
        %h4= pluralize(@user.reviews_received.count, "Review")
      %hr.padding-10/
      - if @user.reviews_received.any?
        .panel-body
          .container
            %div
              = render 'reviews/list'
  .col-sm-9
    %h2.white
      = @user.first_name
      's Profile
    %br/
    / About Me Panel
    .panel.panel-default.box-shadow--16dp
      .panel-heading About me
      .panel-body
        - if !@user.description.blank?
          = @user.description
        - else
          %p I haven't filled out my "about me," but I'm a really cool person with lots of interesting hobbies.
        - if @user.city && @user.state
          = "I'm from #{@user.city}, #{@user.state}."
    / About Me panel
    - if @gigs.any?
      %h3.white
        Gigs: (#{@gigs.length})
      %br/
      .row
        - @gigs.each do |gig|
          .col-md-6
            .panel.panel-default
              .panel-heading.preview.img-responsive.text-center
                = image_tag gig.photos[0].image.url(:medium) if gig.photos.length > 0
              .panel-body
                .row.no-margin
                  .col-xs-9.no-padding
                    .gig-name
                      = link_to gig.name, gig
                      %br/
                    .pull-left.bg-info{:style => "padding: 5px 10px; border-radius: 10px"}
                      = pluralize(gig.offers.count, 'offer')
                  .col-xs-3.relative.no-padding
                    .avatar-absolute
                      = image_tag gig.lister.avatar.url(:thumb), class: "img-circle avatar-medium"
                    %span.absolute-rating.average_rating-home{:id => "rating-gig-#{gig.id}"}
                    / <p class="inline"><haml_loud> gig.lister.average_rating </haml_loud> Reviews</p>
                    / <div class="numberCircle"></div>
                :javascript
                  $('#rating-gig-#{gig.id}').raty({
                  	path: '/assets',
                  	readOnly: true,
                  	starType: 'i',
                  	score: #{gig.lister.average_rating}
                  });
        %br/
    - else
      / <h3 class="white">No gigs posted yet.</h3>
    .row.text-center
      = will_paginate @gigs, renderer: BootstrapPagination::Rails,  inner_window: 1, outer_window: 0, next_label: "▶", previous_label: "	◀"
    %br/
:javascript
  $('#average_rating').raty({
  	path: '/assets',
  	readOnly: true,
  	starType: 'i',
  	score: #{@user.average_rating}
  });
