.row
  .col-md-6.col-md-offset-3.text-center
    %h2 Change your password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render 'shared/devisemes'
      = f.hidden_field :reset_password_token
      .form-group
        = f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :placeholder => "New Password"
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm New Password"
      = f.submit "Change my password", :class => "btn btn-danger"
