.row
  .col-md-6.col-md-offset-3.text-center
    %h2 Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render 'shared/devisemes'
      .form-group
        = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email"
      = f.submit "Send me reset password instructions", :class => "btn btn-danger"
