= form_tag({}, {:method => :post}) do
  = label_tag "Routing number"
  %br/
  = text_field_tag 'routing_number', placeholder: "routing number"
  %br/
  = label_tag "Account number"
  %br/
  = text_field_tag 'account_number', placeholder: "account_number"
  = submit_tag 'Update Bank Details'
