%footer.footer
  .footer-primary
    .container-center
      %span
  .footer-secondary
    .container-center
      .col-xs-12.col-sm-12.col-lg-5
        .footer-content
          %span.brand giggity
          %br/
          %br/
          %br/
          %p
            Our mission is to help you stop wasting time on chores so you can
            get back to doing what you love.
          %p
            If you have any comments or suggestions, please send us a message.
            We're here to help.
      .col-xs-12.col-sm-6.col-lg-3.col-lg-offset-1
        .footer-content
          %h4.footer-title Legal stuff
          %ul.no-style
            %li
              = image_tag "/assets/zzz.png", class: "five"
              = link_to "Terms of Service", terms_path, class: "white"
            %li
              %i.fa.fa-lock>
                 #{link_to "Privacy Policy", privacy_policy_path, class: "white"}
      .col-xs-12.col-sm-6.col-lg-3
        .footer-content
          %h4.footer-title Connect with us!
  .footer-tertiary
    %span
