/ primary header
%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse.navbar-primary.navbar-material-light-blue
  .container.container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "giggity", root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.sixteen
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{:href => "/search"}
            / <i class="fa fa-bars"></i>
            Browse Gigs
            %span.caret.hidden-md.hidden-sm.hidden-xs
          %ul.dropdown-menu
            %li
              %a{:href => "/search?utf8=%E2%9C%93&q%5Bgig_category_id_eq%5D=#{GigCategory.friendly.find("yard-work").id}"}
                %i.fa.fa-sun-o
                Yard Work
            %li
              %a{:href => "/search?utf8=%E2%9C%93&q%5Bgig_category_id_eq%5D=#{GigCategory.friendly.find("house-work").id}"}
                %i.fa.fa-home
                House Work
            %li
              %a{:href => "/search?utf8=%E2%9C%93&q%5Bgig_category_id_eq%5D=#{GigCategory.friendly.find("events").id}"}
                .events
                Events
            %li
              %a{:href => "/search?utf8=%E2%9C%93&q%5Bgig_category_id_eq%5D=#{GigCategory.friendly.find("random").id}"}
                .coins
                Random
        %li
          = link_to gig_categories_path do
            / <i class="fa fa-pencil-square-o"></i>
            Post a Gig
        %li
          = link_to howitworks_path do
            / <i class="fa fa-life-ring"></i>
            How It Works
      %ul.nav.navbar-nav.navbar-right
        - if(!user_signed_in?)
          %li= link_to "Log In", new_user_session_path
          %li= link_to "Sign Up", new_user_registration_path
        - else
          %li
            = link_to dashboard_path do
              %span.nav-icon{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Dashboard"}
                %i.glyphicon.glyphicon-tasks
          %li
            = link_to conversations_path do
              / <haml_loud> "(#{@unread_count})" if @unread_count > 0</haml_loud>
              %span.nav-icon{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Messages"}
                - if @unread_count > 0
                  .numberCircle.unread-message-icon= @unread_count
                %i.glyphicon.glyphicon-comment
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = image_tag current_user.avatar.url(:thumb), class: "img-circle avatar-medium"
              \ 
              \#{current_user.first_name}
              %span.caret
            %ul.dropdown-menu
              / <li><haml_loud> link_to "Your Gigs", gigs_path </haml_loud></li>
              / <li><haml_loud> link_to "Your Offers", dashboard_path </haml_loud></li>
              / <li role="separator" class="divider"></li>
              %li= link_to "View Profile", user_path(current_user)
              %li= link_to "Edit Profile", edit_user_registration_path
              %li= link_to "Log out", destroy_user_session_path, method: :delete
    / /.navbar-collapse
  / /.container-fluid
/ primary header
/ secondary navbar
/ <nav class="navbar navbar-secondary navbar-fixed-top">
/ <div class="container container-fluid">
/ Collect the nav links, forms, and other content for toggling
/ </div>
/ </nav>
