.col-md-3
  .panel.panel-default
    .panel-body
      %ul.sidebar-list
        %li.sidebar-item= active_link_to "Dashboard", dashboard_path, class: "sidebar-link"
        / <li class="sidebar-item"><haml_loud> active_link_to &quot;Purchases&quot;, your_purchases_path, class: &quot;sidebar-link&quot; </haml_loud></li>
