%h1 Notifications
= link_to "create request", webhooks_path, :method => :post
= link_to "reset", reset_webhooks_path, :method => :delete
%table{:cellpadding => "0", :cellspacing => "0"}
  %tr
    %th Timestamp
    %th Kind
    %th Subscription Id
    %th Status
    %th Price
    %th Balance
    %th Next Billing Amount
    %th Billing Period Start Date
    %th Billing Period End Date
    %th Current Billing Cycle
    %th Transaction Ids
  - @notifications.each do |notification|
    %tr
      %td= notification.timestamp
      %td= notification.kind
      %td= notification.subscription.id
      %td= notification.subscription.status
      %td= notification.subscription.price
      %td= notification.subscription.balance
      %td= notification.subscription.next_billing_period_amount
      %td= notification.subscription.billing_period_start_date
      %td= notification.subscription.billing_period_end_date
      %td= notification.subscription.current_billing_cycle
      %td= notification.subscription.transactions.map(&:id).join(", ")
