/ Video header jumbotron
.header-container.hidden-xs
  .video-container
    - if rand(2) == 1
      / <iframe id="jumbotron-vid" src="//fast.wistia.net/embed/iframe/cfru60kxpw?videoFoam=true"
      / allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
      / name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
      / oallowfullscreen msallowfullscreen width="100%" height="100%" autoPlay="true"
      / volume="0" preload="true">
      / </iframe>
      %video{:autoplay => "", :height => "350", :loop => "", :preload => "auto", :width => "1000"}
        %source{:src => "/assets/rainingmoney5.mp4", :type => "video/mp4"}
          %source{:src => "media/smokehome.ogg", :type => "video/ogg"}
            %source{:src => "media/smokehome.webm", :type => "video/webm"}
              %object{:data => "media/smokehome.mp4", :height => "350", :width => "1000"}
                %embed{:height => "350", :src => "media/smokehome.swf", :width => "1000"}
              Your browser does not support the video tag.
      / <iframe preload="auto" id="video-bg" src="//www.youtube.com/embed/Su7hyxvN9U4?rel=0&autoplay=1&controls=0&loop=1" frameborder="0" allowfullscreen></iframe>
      %h4.main-header "I can't wait to mow my lawn this weekend!"
      %p.main-copy - nobody
      %p.main-copy
        Take back your weekends with
        = succeed "." do
          %span{:style => "font-family: Pacifico; font-size: 26px;"} giggity
      = form_tag search_path, method: :get do
        .row
          .col-md-6.col-md-offset-3
            .row
              .col-md-10
                = text_field_tag :search, params[:search],               |
                  placeholder: "What's your gig?", class: "form-control" |
              .col-md-2.text-right
                = submit_tag "Search", class: "btn btn-primary"
        / row
      / form
    - else
      %iframe#jumbotron-vid.wistia_embed{:allowfullscreen => "", :allowtransparency => "true", :autoplay => "true", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :msallowfullscreen => "", :name => "wistia_embed", :oallowfullscreen => "", :preload => "true", :scrolling => "no", :src => "//fast.wistia.net/embed/iframe/0o08wbqfp1?videoFoam=true", :volume => "0", :webkitallowfullscreen => "", :width => "100%"}
      / <iframe id="video-bg" src="//www.youtube.com/embed/Su7hyxvN9U4?rel=0&autoplay=1&controls=0&loop=1" frameborder="0" allowfullscreen></iframe>
      .container
        %h3.main-header Make it rain.
        %p.main-copy
          Put some money in your pocket with
          = succeed "." do
            %span{:style => "font-family: Pacifico; font-size: 26px;"} giggity
        = form_tag search_path, method: :get do
          .row
            .col-md-5.col-md-offset-3
              = text_field_tag :search, params[:search],               |
                placeholder: "What's your gig?", class: "form-control" |
            .col-md-1
              = submit_tag "Search", class: "btn btn-primary"
          / row
        / form
      / container
%script{:async => "", :src => "//fast.wistia.net/assets/external/E-v1.js"}
