.header-container.hidden-xs
  .video-container
    - if rand(2) == 1
      %video#test{:autoplay => "autoplay", :loop => "loop", :muted => "", :poster => "/assets/lawn.jpg", :preload => "auto"}
        %source{:src => "/assets/lawnmowing19.mp4", :type => "video/mp4"}
      %h4.main-header "I can't wait to mow my lawn this weekend!"
      %p.main-copy - nobody
      %p.main-copy
        Take back your weekends with
        = succeed "." do
          %span{:style => "font-family: Pacifico; font-size: 26px;"} giggity
      = form_tag search_path, method: :get do
        .row
          .col-md-6.col-md-offset-3
            .row
              .col-md-10
                = text_field_tag :search, params[:search],               |
                  placeholder: "What's your gig?", class: "form-control" |
              .col-md-2.text-right
                = submit_tag "Search", class: "btn btn-primary"
        / row
      / form
    - else
      %video#test{:autoplay => "autoplay", :loop => "loop", :muted => "", :poster => "/assets/rainingmoney.jpg", :preload => "auto"}
        %source{:src => "/assets/twoguysjoined12.mp4", :type => "video/mp4"}
      .container
        %h3.main-header Make it rain.
        %p.main-copy
          Put some money in your pocket with
          = succeed "." do
            %span{:style => "font-family: Pacifico; font-size: 26px;"} giggity
        = form_tag search_path, method: :get do
          .row
            .col-md-5.col-md-offset-3
              = text_field_tag :search, params[:search],               |
                placeholder: "What's your gig?", class: "form-control" |
            .col-md-1
              = submit_tag "Search", class: "btn btn-primary"
          / row
        / form
      / container
