%br/
.panel.panel-primary
  .panel-heading
    .text-center
      %h2 How it works
      / <h4 class="subheader">Giggity is a community. Find runners near you.</h4>
  .panel-body
    .row.text-center
      .col-md-4
        .row.huge-icon
          %i.fa.fa-pencil-square-o
        .row
          %h4.home-subtitle Post your gig
          %p What do you need done? Outsource your chores and spend your time on more important things.
      .col-md-4
        .row.text-center.huge-icon
          %i.fa.fa-users
        .row
          %h4.home-subtitle Choose an offer
          %p Sit back while runners compete to do your work. You'll see every bid on your dashboard.
      .col-md-4
        .row.text-center.huge-icon
          %i.fa.fa-check-square-o
        .row
          %h4.home-subtitle Sign off on the work
          %p Your runner completes the gig, and you can get back to doing more important things.
%br/
.panel-heading.text-center
  %h3 Post your gig
  %h4.subheader Giggity is a community. Find runners near you.
.panel.panel-default
  .panel-body
    - @gig_categories.each do |gig_category|
      .col-md-6.no-padding
        - if (gig_category.slug == "house-work")
          = link_to new_gig_category_gig_sub_category_gig_path(gig_category.slug, GigSubCategory.friendly.find("general-housework")) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        - elsif (gig_category.slug == "events")
          = link_to new_gig_category_gig_sub_category_gig_path(gig_category.slug, GigSubCategory.friendly.find("general-events")) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        - elsif (gig_category.slug == "random")
          = link_to new_gig_category_gig_sub_category_gig_path(gig_category.slug, GigSubCategory.friendly.find("misc")) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        - else
          = link_to gig_category_gig_sub_categories_path(gig_category.slug) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        / if block
    / end gig_category block
  / end panel-body
/ end panel
%br/
.text-center
  %h3 Recent Gigs
  %h4.subheader See what others are posting.
%br/
.row
  - @gigs.each do |gig|
    .col-md-4
      .panel.panel-default
        .panel-heading.preview.img-responsive.text-center
          = image_tag gig.photos[0].image.url(:medium) if gig.photos.length > 0
        .panel-body
          .row.no-margin
            .col-xs-9.no-padding
              .gig-name
                = link_to gig.name, gig
                %br/
              .pull-left.bg-info{:style => "padding: 5px 10px; border-radius: 10px"}
                = pluralize(gig.offers.count, 'offer')
            .col-xs-3.relative.no-padding
              .avatar-absolute
                = image_tag gig.lister.avatar.url(:thumb), class: "img-circle avatar-medium"
              %span.absolute-rating.average_rating-home{:id => "rating-gig-#{gig.id}"}
              / <p class="inline"><haml_loud> gig.lister.average_rating </haml_loud> Reviews</p>
              / <div class="numberCircle"></div>
          :javascript
            $('#rating-gig-#{gig.id}').raty({
            	path: '/assets',
            	readOnly: true,
            	starType: 'i',
            	score: #{gig.lister.average_rating}
            });
