%div{:style => "width: 800px; margin: 0 auto"}
  %h2.c34.c23.c72{:id => "h.gjdgxs"}
    %span GIGGITY Privacy Policy
  %p.c25.c34
    %span.c7 Last Updated: MARCH 29, 2016
  %p.c36.c34.c69
    %span.c20 Giggity Co.
    %span.c7.c13
    %span (“
    %span.c0 GIGGITY
    %span ”)
    %span.c0 has
    %span cr
    %span.c0 eated this
    %span privacy policy
    %span.c0
    %span in order to explain our privacy practices.
    %span.c0 The following discloses our information-gathering and -dissemination practices for our
    %span.c2
    %span.c0 GIGGITY
    %span website (
    %span.c0 t
    %span he “Site”), services and the GIGGITY mobile application (collectively, the “Service”).
  %p.c35
    %span.c6
  %p.c34.c64
    %span.c0 By using the Service, you do hereby warrant and represent that you have read, understand and agree to
    %span.c2
    %span.c0 all terms and conditions stated herein, including our Terms of Use, available
  %p.c29
    %span.c0 at
    %span.c0
      %a.c5{:href => "https://www.google.com/url?q=http://www.giggity.rocks/terms&sa=D&ust=1459991922133000&usg=AFQjCNHCm4PjLdrGNwLfyAZfW6tHWrxwjg"} http://www.GIGGITY.ROCKS/terms,
    %span.c0 which is incorporated herein by reference, which govern the use
    %span.c2
    %span.c0 of the services offered by GIGGITY, and that you are giving GIGGITY permission to use and store such
    %span.c2
    %span.c0 information consistent with this privacy policy and our Terms of Service.
  %p.c68
    %span.c6
  %p.c34.c57
    %span A user of the Service is hereinafter referred to as a “User,” or collectively, the “Users.”
  %hr.bold/
  %p.c28
    %span{:style => "overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 625.33px; height: 1.33px;"}
      %img{:alt => "", :src => "https://docs.google.com/drawings/image?id=sUAm8gl8WvoRIUP-09krbSA&rev=1&h=1&w=625&ac=1", :style => "width: 625.33px; height: 1.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);", :title => ""}/
  %p.c71
    %span.c39.c41
  %h2.c34.c23.c54
    %span Links and Information
  %p.c36.c34.c58
    %span.c0 This website contains links to other websites. Please review our Terms of Service, available at
    %span.c2
    %span.c0
      %a.c5{:href => "https://www.google.com/url?q=http://www.giggity.rocks/terms&sa=D&ust=1459991922137000&usg=AFQjCNFeTV_lyfXieRZ-pUuuUs2BAFeEQQ"} http://www.GIGGITY.ROCKS/terms,
    %span.c0 for more information.
  %h2.c34.c23.c37
    %span Information Received by GIGGITY
  %p.c14
    %span.c7.c13 Personal Information.
    %span.c0 GIGGITY collects personal information only if you voluntarily choose to share
    %span.c2
    %span.c0 such information with GIGGITY. You may browse the Site without disclosing any personal information.
    %span.c2
    %span.c0 However, in order for you to take advantage of particular opportunities provided through the Service,
    %span.c2
    %span.c0 we may require that you furnish personal information. When you register your account, sign up for
    %span.c2
    %span.c0 newsletters, complete forms for optional programs, surveys, contests and other entries, and through
    %span.c2
    %span.c0 communications transmitted through GIGGITY, applications and your use of the GIGGITY mobile
    %span.c2
    %span.c0 application, we collect information including your name, address, phone number and email address. You
    %span.c2
    %span.c0 also may choose to send GIGGITY personally identifying information in an email message containing
    %span.c2
    %span.c0 information or inquiries about the Service.
  %p.c44
    %span.c6
  %p.c22
    %span.c7.c13 Anonymous or Aggregated Data.
    %span.c0 GIGGITY collects and stores certain data about the use of the Service
    %span.c2
    %span.c0 on an aggregate and/or anonymous basis. GIGGITY does not link this information to anything personally
    %span.c2
    %span.c0 identifiable to you.
  %p.c35
    %span.c6
  %p.c22
    %span.c7.c13 Cookies and Other Technologies.
    %span.c0 When you visit websites on the Internet, your browser may
    %span.c2
    %span.c0 automatically transmit information to the websites you visit throughout every visit.
    %span Like many websites, we may use “cookies” to collect information.
    %span.c0
    %span A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes.
    %span.c0 We may utilize persistent cookies that only GIGGITY
    %span.c2
    %span.c0 can read and use to save your login information for future logins to the Service, to assist in processing
    %span.c2
    %span purchased items
    %span.c0 , to hold session information, and to track user preferences. We may
    %span.c2
    %span.c0 utilize session ID cookies to enable certain features of the Service, to better understand how you
    %span.c2
    %span.c0 interact with the Site and to monitor aggregate usage by our users and web traffic routing on the Service, to track the number of entries in GIGGITY promotions, sweepstakes and contests and to identify
    %span.c2
    %span.c0 visited areas of the Site and Service. Unlike persistent cookies, session cookies are deleted from your
    %span.c2
    %span.c0 computer when you log off from the Site and Service and then close your browser. Third party
    %span.c2
    %span.c0 advertisers on the Site may also place or read cookies on your browser and we may use Flash cookies (or
    %span.c2
    %span.c0 local shared objects) to store your preferences or display content based upon what you view on our site
    %span.c2
    %span.c0 to personalize your visit. You can instruct your browser, by changing its options, to stop accepting
    %span.c2
    %span.c0 cookies or to prompt you before accepting a cookie from the websites you visit. If you do not accept
    %span.c2
    %span.c0 cookies, however, you will not be able to use all portions or all functionalities of the Service.
    %span We and our service providers may also use "pixel tags," "web beacons," "clear GIFs," or similar means in connection with the Service and HTML-formatted email messages to, among other things, track the actions of Users and email recipients, to determine the success of marketing campaigns and to compile aggregate statistics about Site usage and response rates. We may also engage one or more third party service providers to serve online advertisements on our behalf. They may use a “pixel tag” to collect anonymous information about your visits to this Site and to other websites, and they may use that information to target advertisements for goods and services. This information is collected anonymously, in a manner that does not personally identify you.
  %p.c44
    %span.c6
  %p.c32
    %span.c7.c13 IP Address.
    %span When you visit and interact with the Site, GIGGITY and/or third parties with whom GIGGITY has contracted to provide services to GIGGITY may collect your Internet Protocol Address (“IP Address”), which is a number that is automatically assigned to the computer that you are using by your Internet Service Provider. This number is identified and logged automatically in our server log files whenever you visit the Site, along with the time(s) of your visit(s) and the page(s) that you visited. We use IP Addresses to monitor the regions from which Users navigate the Site, to display relevant Gigs for a User’s particular region, and for fraud prevention purposes.
  %p.c31
    %span.c6
  %p.c67
    %span The Company also collects and uses personal data regarding its employees (“Employee Data”), which may include: name, address, job title and other job information, location, compensation information, identification number, employment history, and a copy of employment agreements.
  %p.c15
    %span
  %p.c16
    %span.c9 Should you wish to make a purchase or receive money from a purchaser through the Service, we may also require you to provide us with your financial information, including billing name, address and credit card number (“Financial Information”). Credit card numbers is sent securely to our payment provider and are never stored on our servers.
  %p.c70
    %span.c39.c55
  %p.c42
    %span.c0 Only authorized GIGGITY staff have access to your Personal Information in its entirety. Other staff may
    %span.c2
    %span.c0 have access to portions of this information if it pertains to their job duties.
  %h2.c37.c23
    %span GIGGITY's Use of Personal Information
  %p.c36.c47
    %span.c0 GIGGITY uses Personal Information for the following general purposes:
  %ul.c33.lst-kix_list_1-0.start
    %li.c12
      %span.c0 to provide our products and the Service,
    %li.c10
      %span.c0 for billing, identification and authentication, and fraud prevention,
    %li.c12
      %span.c0 to analyze Site usage and improve our products and the Service,
    %li.c25.c38
      %span.c0 to contact you and deliver administrative notices and communications relevant to your use our
      %span.c2
      %span.c0 products and services,
  %hr{:style => "page-break-before:always;display:none;"}/
  %p.c8
    %span
  %ul.c33.lst-kix_list_1-0
    %li.c46
      %span.c0 for internal market research, troubleshooting problems, and detecting and protecting against
      %span.c2
      %span.c0 error, fraud or other criminal activity,
    %li.c48
      %span.c0 for distribution to third-party contractors that provide services to GIGGITY and partners of
      %span.c2
      %span.c0 GIGGITY who are bound by privacy restrictions at least as restrictive as those set forth in this
      %span.c2
      %span.c0 Policy,
    %li.c74
      %span.c0 to enforce our Terms of Service, and
    %li.c12
      %span.c0 as otherwise set forth in the Policy.
  %p.c17
    %span Although we ensure that our third party agents (“Agents”) receiving your information are bound by privacy restrictions at least as restrictive as those set forth in this policy, GIGGITY is not responsible for any issues that may arise regarding the Privacy Policies of any of its affiliates or advertiser. By using this website, you do hereby agree to hold GIGGITY harmless from any claims and/or damages that may arise from the actions of any of its affiliates and/or advertisers.
  %p.c21
    %span.c0 Two things drive GIGGITY's decisions regarding the use of information collected from Users: 1)
    %span.c2
    %span.c0 improving user experience by offering personalized services, content and advertising, and 2) market
    %span.c2
    %span.c0 research.
  %p.c21
    %span.c0 Ads are a standard part of user experience on the Internet, and GIGGITY believes that targeted
    %span.c2
    %span.c0 advertising enhances this experience. GIGGITY may use Cookies and other Technologies and Personal
    %span.c2
    %span.c0 Information to place ads where they believe interested parties will see them.
  %p.c18
    %span.c0 In addition to banner ads, GIGGITY may advertise products, companies and events that we think might
    %span.c2
    %span.c0 interest you through the email address you provide.
    %span
      %br/
  %p.c30
    %span GIGGITY may analyze Personal Information and Web Navigational Data based on your interests and may use the analysis from this information in a way that doesn’t reveal a User’s personal information (“Market Research”) in order to:
  %ul.c33.lst-kix_list_1-0
    %li.c10
      %span.c0 Market the Service
    %li.c12
      %span.c0 Improve the likelihood of a sale to a group of Users
    %li.c25.c45
      %span.c0 Increase the likelihood that a group's experience with the Service is relevant to its interests as a
      %span.c2
      %span.c0 whole
  %p.c27
    %span.c0 GIGGITY uses data at the individual level to sell products and services to Users who express an interest
    %span.c2
    %span.c0 in these products and services, through a poll for example, or to Users who can be presumed to have an
    %span.c2
    %span.c0 interest based on results from our Market Research.
  %p.c11
    %span.c0 GIGGITY may use your cell phone number to call or text you in order to provide the Service. If you would
    %span.c2
    %span.c0 like more information about our policy, or to opt out, please review our Terms of Service, available at
    %span.c2
    %span.c0
      %a.c5{:href => "https://www.google.com/url?q=http://www.giggity.rocks/terms&sa=D&ust=1459991922159000&usg=AFQjCNEAXlthk7WyiIvBZitDlaO60dFmDg"} http://www.GIGGITY.ROCKS/terms
    %span.c0 or email
    %span admin
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.com"} @
    %span
      %a.c5{:href => "mailto:help@GIGGITY.com"} giggity
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.com"} .
    %span
      %a.c5{:href => "mailto:help@GIGGITY.com"} rocks
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.com"} .
    %span
      %a.c5{:href => "mailto:help@GIGGITY.com"} Deleting your account will also destroy the recorded phone number associated with that account.
  %p.c18
    %span Employee Data is only used for the for the purposes of facilitating the performance of certain administrative tasks and functions relating to general employment and for processing and investigating reports under the Company’s codes and policies (“Employee Data Purposes”).
  %hr{:style => "page-break-before:always;display:none;"}/
  %p.c8
    %span.c0
  %p.c3
    %span.c0 We use Financial Information solely as authorized by you in accordance with the Service.
  %h2.c23.c25
    %span Choice/Opt-Out
  %p.c26.c36
    %span.c0 You may opt-out of receiving communications from us and our partners, remove your information from
    %span.c2
    %span.c0 our database, and choose to not receive future communications unrelated to the Service.
  %p.c52
    %span During registration you enter information, some of which remains on your Profile where you can, at any point, easily edit it to indicate that you have changed your mind. After logging on, click on the “Edit Profile” link in the top right of the page. If you purchase anything through GIGGITY, we may occasionally contact you with information about special events, sales, activities, promotions, contests, submission opportunities and programs. You always have the option to ask GIGGITY not to contact you with this information again.
  %p.c47.c40
    %span.c0 If you receive unsolicited email from a GIGGITY domain, please contact us at
    %span admin@giggity.rocks.
  %h2.c23.c25
    %span GIGGITY's information retention policy
  %p.c19
    %span
      To preserve the integrity of our databases, we may retain information submitted by Users for an indefinite length of time. If required by law, we will delete Personal Information by erasing it from our database. We will also respond to User requests to delete or correct account or Personal Information, which you can do by contacting GIGGITY at admin@giggity.rocks, or by selecting the “Edit Profile” option under your account icon in the top right corner of your home page or on your device.
      %br/
  %p.c60
    %span
      Videos and Images of GIGGITY
      %br>/
      For each User seeking to provide task services via the Service (each, a “Runner”) who has provided GIGGITY with any videotape, film, record, photograph, voice, or all related instrumental, musical, or other sound effects, you consent to our use of these materials in accordance with the Terms of Use, available at http://www.GIGGITY.ROCKS/terms.
  %h2.c23.c51
    %span GIGGITY’s security of collected information
  %p.c19
    %span Your GIGGITY account is password-protected so that only you and authorized GIGGITY staff have access to your account information. In order to maintain this protection, do not give your password to anyone. If someone who represents to you they are GIGGITY staff and asks for any personal account information, including password, be smart - don’t give them the information. GIGGITY staff will only email you from an address registered with the “@giggity.rocks” domain. Also, if you share a computer, you should sign out of your GIGGITY account and close the browser window before someone else logs on. This will help protect your information entered on public terminals from disclosure to third parties.
  %p.c40.c63
    %span.c0 GIGGITY makes every effort to ensure that your information is secure on its system by backing up data in
    %span.c2
    %span.c0 separate backup drives and uses public key access encryption and firewalls on both our main and
    %span.c2
    %span.c0 backup servers. We also employ and customer record managers to protect against loss, misuse and
    %span.c2
    %span.c0 alteration of the information under our control. Extremely sensitive information, like credit card
    %span.c2
    %span.c0 numbers, is always transmitted in encrypted form. Only certain authorized GIGGITY staff can access
    %span.c2
    %span.c0 Personal Information, and then only if it is relevant to their job duties. GIGGITY has staff dedicated to
    %span.c2
    %span.c0 maintaining this Privacy Policy and other privacy initiatives, periodically reviewing security and making
  %hr{:style => "page-break-before:always;display:none;"}/
  %p.c8
    %span
  %p.c53
    %span.c0 sure that every GIGGITY employee is aware of our security practices. Unfortunately, no data
    %span.c2
    %span.c0 transmission over the Internet can be guaranteed to be 100% secure. As a result, GIGGITY cannot
    %span.c2
    %span.c0 guarantee the security of any information you transmit to us, and you do so at your own risk. While
    %span.c2
    %span.c0 GIGGITY will use commercially reasonable efforts to ensure the security of all credit card and all other
    %span.c2
    %span.c0 personal information, we expressly disclaim any liability for any unauthorized access to or use of our
    %span.c2
    %span.c0 secure servers and/or any and all personal and/or financial information stored therein, and you agree to
    %span.c2
    %span.c0 hold GIGGITY harmless for any damages that may result therefrom. If you have any further questions on
    %span.c2
    %span.c0 this issue, please refer to the Terms of Use, available at
    %span
    %span.c0
      %a.c5{:href => "https://www.google.com/url?q=http://www.giggity.rocks/terms&sa=D&ust=1459991922171000&usg=AFQjCNGI9u2oNP83c6I8wXSoje5s2shj5g"} www.GIGGITY.ROCKS/terms.
    %span.c0 GIGGITY
    %span.c2
    %span.c0 expressly disclaims any liability that may arise should any other individuals obtain the information you
    %span.c2
    %span.c0 submit to this website.
  %h2.c23
    %span With whom does GIGGITY share information?
  %p.c36.c62
    %span.c0 When you submit information to GIGGITY, it is collected, processed and maintained solely by us or by
    %span.c2
    %span.c0 third party agents who are bound by privacy restrictions at least as restrictive as those set forth in this
    %span.c2
    %span.c0 policy. We may allow our business partners to collect information about Users that is not extremely
    %span.c2
    %span.c0 sensitive Information. If you would like to opt out from the onward transfer of your information to our
    %span.c2
    %span.c0 non-agent partners, you may send us an email at
    %span admin
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.ROCKS"} @GIGGITY.ROCKS.
    %span.c0 Include the word "privacy" in
    %span.c2
    %span.c0 the subject line of the email and all your registration information in the body of the email.
  %p.c40.c59
    %span.c0 Some GIGGITY content is "sponsored by" or "presented by" other companies. GIGGITY shares market
    %span.c2
    %span.c0 research data (how the sponsorship performed, names of contest winners, etc.) collected on this
    %span.c2
    %span.c0 website or via email surveys with these partners. This information is aggregate and not linked to specific
    %span.c2
    %span.c0 users.
  %p.c1
    %span.c0 Partners may sponsor promotions, contests and sweepstakes that require you to reveal details such as
    %span.c2
    %span.c0 your name, address or phone number. Always check their privacy policy before revealing information
    %span.c2
    %span.c0 about yourself. If you don't want these sponsors to have your personal information, you can choose to
    %span.c2
    %span.c0 not participate.
  %p.c11
    %span.c0 GIGGITY reserves the right to disclose Personal Information from both private and public areas of this
    %span.c2
    %span.c0 website at our discretion, if required by law or if we are given reason to believe, in our sole discretion,
    %span.c2
    %span.c0 that someone is causing injury to or interference with the rights of Users, the general public, or GIGGITY,
    %span.c2
    %span.c0 to comply with a judicial proceeding, court order or legal process.
  %p.c66
    %span.c0 We will not transfer to a non-Agent third party any Personal Information that is sensitive in nature, such
    %span.c2
    %span.c0 as information specifying your medical or health condition, racial or ethnic origin, political opinions,
    %span.c2
    %span.c0 religious or philosophical beliefs, trade union membership without your prior affirmative consent.
  %p.c40.c73
    %span.c0 Finally, GIGGITY reserves the right to transfer, sell and/or distribute all information collected through
    %span.c2
    %span.c0 the Service to an affiliate, subsidiary, or third party in the event of any reorganization, merger, sale, joint
    %span.c2
    %span.c0 venture, assignment, transfer or other disposition of all or part of our business, assets or stock. We will
    %span.c2
    %span.c0 use our best efforts to ensure that the new entity follows this Privacy Policy with respect to your
    %span.c2
    %span.c0 Personal Information, as and to the extent required by applicable law.
  %h2.c23
    %span How can Users edit their information?
  %hr{:style => "page-break-before:always;display:none;"}/
  %p.c8
    %span.c0
  %p.c49
    %span.c0 GIGGITY believes strongly in giving you the ability to access and edit your personal information. To
    %span.c2
    %span.c0 update your personal info, click
    %span View Profile or Edit Profile
    %span.c0 at the top of any page. There you can view, update and
    %span.c2
    %span.c0 correct your account information. You may edit your account information at any time
    %span .
  %p.c40.c50
    %span.c0 So that we can protect the integrity of sensitive data, there are certain pieces of information, such as
    %span.c2
    %span.c0 your age, that you cannot alter yourself. For example, since children under 18 are not allowed to
    %span.c2
    %span.c0 register as Users, we need to take reasonable measures to preserve the accuracy of our Users' ages.
    %span.c2
    %span.c0 Please contact us at
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.ROCKS"} help@GIGGITY.ROCKS
    %span.c0 to find out how to change information you cannot access
    %span.c2
    %span.c0 through your account.
  %p.c4
    %span.c0 Our databases automatically update any Personal Information you edit in your profile, or that you
    %span.c2
    %span.c0 request we edit. Information transmitted through boards, chats, polls or through any other means
    %span.c2
    %span.c0 remains in our databases and becomes the property of GIGGITY upon submission.
  %h2.c23.c51
    %span Notification of changes
  %p.c25.c26
    %span.c0 GIGGITY's security and privacy policy are periodically reviewed and enhanced as necessary. This policy
    %span.c2
    %span.c0 might change as GIGGITY updates and expands the Service. GIGGITY will endeavor to notify you of these
    %span.c2
    %span.c0 changes by email, but will not be liable for any failure to do so. GIGGITY also encourages you to review
    %span.c2
    %span.c0 this privacy policy periodically. If you do not understand any of the terms or conditions of any of
    %span.c2
    %span.c0 GIGGITY's policies, you may inquire regarding the same via email at
    %span admin@GIGGITY.ROCKS
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.ROCKS"} .
  %h2.c23
    %span Users from outside the United States
  %p.c26.c25
    %span GIGGITY and its Service are based in the U.S., and the Company’s offices are headquartered in the U.S. Please be aware that information you provide to GIGGITY that it obtains as a result of your use of the Service may be processed and transferred to the U.S. and be subject to U.S. law. The privacy and data protection laws in the U.S. may not be equivalent to such laws in your country of residence. By using the Website, participating in any of the Service, or by providing GIGGITY with your information, you consent to this collection, transfer, storage, and processing of information to and in the U.S. GIGGITY will take all steps reasonably necessary to ensure that your data is treated securely in accordance with this Privacy Policy.
  %h2.c23
    %span US-EU and US-Swiss Safe Harbor Framework
  %p.c19
    %span.c0 GIGGITY complies with the US-EU Safe Harbor Framework and the US-Swiss Safe Harbor Framework as
    %span.c2
    %span.c0 set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal
    %span.c2
    %span.c0 information from European Union member countries and Switzerland. GIGGITY has certified that it
    %span.c2
    %span.c0 adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity,
    %span.c2
    %span.c0 access, and enforcement. To learn more about the Safe Harbor program, and to view GIGGITY’s certification, please visit
    %span.c0
      %a.c5{:href => "https://www.google.com/url?q=http://www.export.gov/safeharbor/&sa=D&ust=1459991922189000&usg=AFQjCNHLRHpgTFZ9OieI6ZddZUdH-vpY0Q"} http://www.export.gov/safeharbor/.
  %p.c1
    %span.c0 In compliance with the Safe Harbor Principles, GIGGITY commits to resolve complaints about your
    %span.c2
    %span.c0 privacy and our collection or use of your personal information. European Union citizens with inquiries or
    %span.c2
    %span.c0 complaints regarding this privacy policy should contact GIGGITY at
    %span admin
    %span.c0
      %a.c5{:href => "mailto:privacy@GIGGITY.ROCKS"} @GIGGITY.ROCKS
    %span .
  %hr{:style => "page-break-before:always;display:none;"}/
  %p.c8
    %span.c0
  %p.c61
    %span GIGGITY will review all audit requests submitted through email for the purpose of determining whether or not its procedures and protocols being used are consistent with the Safe Harbor Framework. It is GIGGITY’s policy to routinely monitor and check its compliance procedures and protocols. Should GIGGITY determine inconsistency with any such procedures or protocol, GIGGITY will take necessary steps to address and correct the inconsistency. If GIGGITY is unable to resolve the conflict with the individual or customer/client filing the complaint, GIGGITY, Inc. will comply with the EU Data Protection Authorities (DPAs) to investigate unresolved complaints. GIGGITY will self certify with the Department of Commerce for the purpose of renewing its Safe Harbor Privacy Policy on an annual basis and confirming its continued commitment to the protection and privacy of personal data.
  %h2.c23.c51
    %span How can I reach GIGGITY staff?
  %p.c26.c36
    %span.c0 If you have technical problems, questions or other issues related to your use of GIGGITY, please click the
    %span.c2
    %span.c0 link Contact Us on the home at the bottom of any page of this website. You can also contact us
  %p.c30
    %span.c0 at
    %span admin
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.ROCKS"} @GIGGITY.ROCKS.
  %p.c19
    %span.c0 GIGGITY's staff will respond to all requests sent through mail or email from Users and parents interested
    %span.c2
    %span.c0 in knowing more about what personal information is stored on the GIGGITY database, or if they want
    %span.c2
    %span.c0 their personal information nullified, or have additional questions regarding privacy.
  %h2.c23.c40
    %span Contacting Us
  %p.c26.c25
    %span.c0 If you have any questions about this privacy statement, the practices of this site, or your dealings with
    %span.c2
    %span.c0 this website, you may contact us at
    %span admin
    %span.c0
      %a.c5{:href => "mailto:help@GIGGITY.ROCKS"} @GIGGITY.ROCKS.
