.row.search-map.fill
  .col-sm-7.fill
    .row.no-margin
      .col-md-12
        %br/
        .panel.panel-default.text-center
          .panel-body
            = search_form_for @search, url: search_path do |f|
              .row.no-margin
                .col-md-4
                  = f.search_field :name_or_summary_cont, placeholder: "Search", class: "form-control montserrat"
                .col-md-4
                  = text_field_tag :location, params[:location], { class: "span1 form-control montserrat", placeholder: "#{@location ? @location.capitalize : "Location"}" }
                .col-md-4
                  = f.select :gig_category_id_eq, options_from_collection_for_select(GigCategory.all, "id", "name", @search.gig_category_id_eq), prompt: "Category"
              %hr/
              / <div class="row">
              / <div class="col-md-4">
              / <haml_loud> check_box_tag &quot;q[gig_category_eq_any][]&quot;, &quot;Entire&quot; </haml_loud> Gig type 1
              / </div>
              / <div class="col-md-4">
              / <haml_loud> check_box_tag &quot;q[gig_type_eq_any][]&quot;, &quot;Private&quot; </haml_loud> Gig type 2
              / </div>
              / <div class="col-md-4">
              / <haml_loud> check_box_tag &quot;q[gig_type_eq_any][]&quot;, &quot;Shared&quot; </haml_loud> Gig type 3
              / </div>
              / </div>
              / <br>
              .row.no-margin
                .col-md-12
                  %p.montserrat
                    Radius:
                    \#{params[:within].present? ? params[:within].to_i : 25} mi
                  %input{"data-provide" => "slider", "data-slider-max" => "100", "data-slider-min" => "1", "data-slider-step" => "1", "data-slider-value" => "#{params[:within].present? ? params[:within].to_i : 25}", :name => "within", :type => "text"}/
              %br/
              .row.no-margin
                .col-md-12
                  = f.submit "Search", class: "btn btn-primary wide"
        %hr/
        .row.col-centered.no-margin
          - @arrGigs.each do |gig|
            .col-lg-6.col-md-12.thin-padding
              .panel.panel-default
                .panel-heading.preview.img-responsive.text-center
                  = image_tag gig.photos[0].image.url(:medium) if gig.photos.length> 0
                .panel-body
                  .row.no-margin
                    .col-xs-9.no-padding
                      .gig-name.truncate
                        = link_to gig.name, gig
                        %br/
                      .pull-left.bg-info{:style => "padding: 5px 10px; border-radius: 10px"}
                        = pluralize(gig.offers.count, 'offer')
                      %span.hidden-xs{:style => "line-height: 30px"}
                           #{time_ago_in_words(gig.created_at)} ago
                        %span
                    .col-xs-3.relative.no-padding
                      .avatar-absolute
                        = image_tag gig.lister.avatar.url(:thumb), class: "img-circle avatar-medium"
                      %span.absolute-rating.average_rating-home.hidden-xs{:id => "rating-gig-#{gig.id}"}
                      / <p class="inline"><haml_loud> gig.lister.average_rating </haml_loud> Reviews</p>
                      / <div class="numberCircle"></div>
                  :javascript
                    $('#rating-gig-#{gig.id}').raty({
                    	path: '/assets',
                    	readOnly: true,
                    	starType: 'i',
                    	score: #{gig.lister.average_rating}
                    });
          .row.text-center
            .col-xs-12
              = will_paginate @arrGigs, renderer: BootstrapPagination::Rails, inner_window: 2, outer_window: 0, next_label: "▶", previous_label: "◀"
      / col-md-12
    / row
  / search column
  .col-sm-5.hidden-xs.fill.fixed-right
    #map
  / map column
/ row
:javascript
  var map;
  
  	function initialize() {
  		var mapOptions = {
  			zoom: 10,
  			center: {
  				lat: #{@coords[0]} ,
  				lng: #{@coords[1]}
  			},
  			mapTypeId: google.maps.MapTypeId.ROADMAP
  		};
  		map = new google.maps.Map(document.getElementById('map'),
  			mapOptions);
  
  		var styles = [{
  			"featureType": "water",
  			"stylers": [{
  				"color": "#3396ff"
  			}, {
  				"saturation": -10
  			}, {
  				"gamma": 0.96
  			}, {
  				"lightness": 30
  			}]
  		}, {
  			"featureType": "landscape.natural.landcover",
  			"stylers": [{
  				"color": "#808080"
  			}, {
  				"saturation": -2
  			}, {
  				"lightness": 84
  			}]
  		}, {
  			"featureType": "road.highway",
  			"elementType": "geometry.fill",
  			"stylers": [{
  				"lightness": 100
  			}]
  		}, {
  			"featureType": "road.highway.controlled_access",
  			"elementType": "geometry.stroke",
  			"stylers": [{
  				"saturation": -3
  			}, {
  				"lightness": -100
  			}, {
  				"visibility": "off"
  			}]
  		}, {
  			"featureType": "road",
  			"elementType": "geometry.fill",
  			"stylers": [{
  				"lightness": 100
  			}]
  		}, {
  			"featureType": "landscape.man_made",
  			"stylers": [{
  				"lightness": 2
  			}, {
  				"saturation": -41
  			}]
  		}, {}, {
  			"featureType": "road",
  			"elementType": "geometry.fill"
  		}, {
  			"featureType": "road",
  			"elementType": "geometry.stroke",
  			"stylers": [{
  				"lightness": 100
  			}]
  		}, {
  			"featureType": "transit.line",
  			"stylers": [{
  				"visibility": "on"
  			}, {
  				"color": "#ff8080"
  			}, {
  				"weight": 2
  			}]
  		}, {
  			"featureType": "transit.station.rail",
  			"elementType": "labels.icon",
  			"stylers": [{
  				"weight": 0.1
  			}, {
  				"hue": "#ff3c00"
  			}]
  		}, {}];
  
  		map.setOptions({
  			styles: styles
  		});
  
  <haml_silent>		 if @has_params_location 
  </haml_silent><haml_block>    	var pos = {
          lat: #{@coords[0]},
          lng: #{@coords[1]}
        };
        map.setCenter(pos);
  
  		// 2 - Try HTML5 geolocation, or else user model geocoords
  </haml_block><haml_silent>		 else 
  </haml_silent><haml_block>		  if (navigator.geolocation) {
  		    navigator.geolocation.getCurrentPosition(function(position) {
  		      var pos = {
  		        lat: position.coords.latitude,
  		        lng: position.coords.longitude
  		      };
  
  		      //infoWindow.setPosition(pos);
  		      //infoWindow.setContent('Location found.');
  		      map.setCenter(pos);
  		    }, function() {
  		      handleLocationError(true, map.getCenter());
  		    });
  		  } else {
  		    // Browser doesn't support Geolocation
  		    handleLocationError(false, map.getCenter());
  		  }
  </haml_block>
  <haml_silent>		 @arrGigs.each do |gig| 
  </haml_silent><haml_block><haml_silent>			 if gig.latitude != nil and gig.longitude != nil 
  </haml_silent><haml_block>				var myLatLng = {
  					lat: #{gig.latitude},
  					lng: #{gig.longitude}
  				};
  				var marker = new google.maps.Marker({
  					position: myLatLng,
  					map: map,
  					title: "#{gig.name}"
  				});
  				marker.setMap(map);
  </haml_block></haml_block>	}
  
  	function handleLocationError(browserHasGeolocation, pos) {
    	var pos = {
          lat: #{@coords[0]},
      		lng: #{@coords[1]}
        };
        map.setCenter(pos);
        //.setPosition(pos);
        //infoWindow.setContent(browserHasGeolocation ?
                              // 'Error: The Geolocation service failed.' :
                              // 'Error: Your browser doesn\'t support geolocation.');
      }
:javascript
  // 	$(function() {
  // 		$("#start_date").datepicker({
  // 			dateFormat: 'dd-mm-yy',
  // 			minDate: 0,
  // 			maxDate: '3m',
  // 			onSelect: function(selected) {
  // 				$('#end_date').datepicker("option", "minDate", selected);
  // 				$('#end_date').attr('disabled', false);
  // 			}
  // 		});
  
  // 		$("#end_date").datepicker({
  // 			dateFormat: 'dd-mm-yy',
  // 			minDate: 0,
  // 			maxDate: '3m',
  // 			onSelect: function(selected) {
  // 				$('#start_date').datepicker("option", "maxDate", selected);
  // 			}
  // 		});
  // 	})
  //
:javascript
  $(function(){ // document ready
    if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
      var stickyTop = $('.sticky').offset().top; // returns number
      $(window).scroll(function(){ // scroll event
        var windowTop = $(window).scrollTop(); // returns number
        if (stickyTop < windowTop){
          $('.sticky').css({ position: 'fixed', top: 0 });
        }
        else {
          $('.sticky').css('position','static');
        }
      });
    }
  });
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBB5xhA50o4gwmicNZmd21aCnPbQeQ30pE&callback=initialize"}
