= content_for :body do
  class="blue-background"
- if @result
  - if @result.errors.any?
    #user-form.row
      .col-sm-6.col-sm-offset-3
        .panel.panel-default
          .panel-body
            %h4= pluralize(@result.errors.count, "error")
            - @result.errors.each do |error|
              %p
                Error #{error.code}, #{error.message}
            %hr/
            %p Please try again. Sometimes these errors can be pretty cryptic so if you need help you can contact us with the green "message" form in the bottom right.
#user-form.row
  .col-sm-6.col-sm-offset-3.text-center
    .panel.panel-default
      .panel-body
        %h2 Venmo Payments
        %hr.bold/
        %p
          Enter the information associated with your Venmo account.
          When the lister signs off on your work we'll transfer
          the money straight to your account.
        %hr/
        = form_tag user_merchants_path do
          .form-group
            = label_tag :address
            = text_field_tag :address, nil, placeholder: "Address", class: "form-control"
          .form-group
            = label_tag :city
            = text_field_tag :city, nil, placeholder: "City", |
              class: "form-control"                           |
          = label_tag :state
          = select_tag :state, options_for_select(us_states, "CA")
          .form-group
            = label_tag :zip_code
            = text_field_tag :zip_code, nil, placeholder: "Zip code", |
              class: "form-control"                                   |
          = submit_tag "Submit", class: "btn btn-primary"
