- if @phone_number.verified && @user == @phone_number.user
  $('#status-box').removeClass()
  $('#status-box').addClass('alert alert-warning')
  $('#status-message').text("Your phone number was already verified.")
  $('#status-box').fadeToggle()
- elsif @phone_number.verified && @user != @phone_number.user
  $('#status-box').removeClass()
  $('#status-box').addClass('alert alert-warning')
  $('#status-message').text("That phone number is already in use with another account.")
  $('#status-box').fadeToggle()
- else
  $('#hidden_phone_number').val('#{@phone_number.phone_number}')
  $('#send-pin').hide()
  $('#verify-pin').fadeToggle()
  $('#pin').focus()
