= content_for :body do
  class="blue-background"
#user-form.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.text-center
        Verify your account
      %hr.padding-10/
      .panel-body
        %p To ensure honest reviews and create a secure and trusted environment, we ask all members to verify their accounts.
        %p We'll text a code to your cell phone for verification.
        %br/
        #status-box.alert.alert-success
          %p#status-message Status: Haven’t done anything yet
        #send-pin
          = form_for @phone_number, remote: true do |f|
            .form-group
              #phone.input-wrapper
                %span.fa.fa-mobile.fa-lg
                = f.text_field :phone_number, class: "form-control"
            %br/
            .text-center
              = f.submit "Send Code", class: "btn btn-primary", id: 'send-pin-link'
        #verify-pin
          / <h3>Enter your Code</h3>
          = form_tag phone_numbers_verify_path, remote: true do |f|
            = hidden_field_tag 'hidden_phone_number', ''
            .form-group
              #pin.input-wrapper
                %span.fa.fa-commenting-o
                = text_field_tag :pin, nil, placeholder: "Enter code", class: "form-control"
            %br/
            .text-center
              = submit_tag "Verify Code", class: "btn btn-primary"
      %br/
      .panel-footer
        %i.fa.fa-lock
        We respect your privacy. Your information is secured with 128-bit SSL encryption, and you can delete your account at any time.
#services-form.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.text-center
        Would you like to provide services?
      %hr.padding-10/
      .panel-body
        %br/
        = form_tag provide_services_path, remote: true do |f|
          .row.form-div.text-center
            .col-md-6
              = submit_tag "Yep", class: "btn btn-primary btn-lg"
            .col-md-6
              = submit_tag "Nope", class: "btn btn-danger btn-lg"
#profile-done.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.text-center
        Thanks for signing up!
      %hr.padding-10/
      - if current_user.first_name.length < 9
        .panel-body.text-center.relative
          = image_tag "/assets/heart.gif", class: "center img-responsive"
          .inset-text-effect-2.wide
            %span.pacifico giggity
            %br/
            = succeed "+" do
              .margin-top
            .margin-top-2
            = current_user.first_name
#services-form-about-me.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.text-center
        Make someone want to hire you
      %hr.padding-10/
      .panel-body
        %br/
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          .text-center
            = image_tag @user.avatar.url(:medium), class: "avatar-large"
          %h4 1. Upload an avatar
          %p
            A friendly photo clearly showing your face is
            %span{:style => "font-style: italic"} critical
            for convincing someone to accept your offer.
          = f.file_field :avatar, type: :file, class: 'filestyle',                 |
            :'data-classButton' => 'btn btn-primary', 'data-size': 'md',           |
            :'data-input' => 'false', 'data-iconName': 'fa fa-cloud-upload fa-md', |
            :'data-buttonText' => 'Change Avatar'                                  |
          %p.italics.text-center.white Under 5 MB, .jpg, .png
          %h4
            2. Tell us about yourself
            %span#age-tooltip{"data-toggle" => "tooltip", :title => "A sentence or two goes a long way towards establishing a connection with someone"}
              %i.fa.fa-question-circle.fa-md
          / <haml_loud> f.label :description, &quot;Tell us about yourself&quot; </haml_loud>
          = f.input :description, label: false, placeholder: "E.g., Student at Wash U majoring in biology. Dog lover. Believes eating the Nutella out of the jar with your finger is perfectly acceptable.", input_html: { rows: 7 }
          .row.form-div.text-center
            .col-md-12
              = f.button :submit, "Finish", class: "btn btn-primary btn-lg"
:javascript
  $(document).on("ajaxComplete", function(event, xhr, settings) {
    var csrf_param = xhr.getResponseHeader('X-CSRF-Param');
    var csrf_token = xhr.getResponseHeader('X-CSRF-Token');
  
    if (csrf_param) {
      $('meta[name="csrf-param"]').attr('content', csrf_param);
    }
    if (csrf_token) {
      $('meta[name="csrf-token"]').attr('content', csrf_token);
    }
  });
