- if @phone_number.verified
  $('#verify-pin').hide()
  $('#status-box').removeClass()
  $('#status-box').addClass('alert alert-success')
  $('#status-message').text('Success!')
  $('#user-form').hide()
  $('#services-form').fadeToggle()
- elsif @phone_number.attempts >= 5
  $('#verify-pin').hide()
  $('#send-pin').show()
  $('#phone_number').focus()
  $('#status-box').removeClass()
  $('#status-box').addClass('alert alert-warning')
  $('#status-message').text("Hmm... it looks like you've tried too many times. Let's resend the code.")
- else
  $('#status-box').removeClass()
  $('#status-box').addClass('alert alert-warning')
  $('#status-message').text("Sorry, that wasn't the right code.")
$('#status-box').fadeToggle()
