= content_for :body do
  class="blue-background"
#user-form.row
  .col-sm-6.col-sm-offset-3.text-center
    .panel.panel-default
      .panel-body
        %h2 Log in
        %br/
        / <div class="col-md-6">
        / <haml_loud> link_to user_omniauth_authorize_path(:facebook), class: &quot;btn btn-block btn-social btn-facebook&quot; do </haml_loud><haml_block>
        / <span class="fa fa-facebook"></span>
        / Facebook
        / </haml_block>
        / </div>
        / <div class="col-xs-12 hidden-lg hidden-md"><br></div>
        / <div class="col-md-6 text-center">
        / <haml_loud> link_to user_omniauth_authorize_path(:google_oauth2), class: &quot;btn btn-block btn-social btn-google&quot; do </haml_loud><haml_block>
        / <span class="fa fa-google"></span>
        / Google
        / </haml_block>
        / </div>
        / <br>
        / <div class="col-xs-12 hidden-xs hidden-sm"><br></div>
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render 'shared/devisemes'
          / <div class="form-group">
          / <haml_loud> f.email_field :email, autofocus: true, :class =&gt; &quot;form-control&quot;, :placeholder =&gt; &quot;Email&quot; </haml_loud>
          / </div>
          .form-group
            #email.input-wrapper
              %span.fa.fa-envelope
              = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email"
          .form-group
            #password.input-wrapper
              %span.fa.fa-lock
              = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"
          .form-group.boolean
            .checkbox
              - if devise_mapping.rememberable?
                %label.checkbox
                  = f.check_box :remember_me, :label => false
                  = f.label :remember_me
          %br/
          .actions
            = f.submit "Log in", :class => "btn btn-primary"
            = link_to "Forgot Password", new_user_password_path, :class => "btn btn-danger"
