= form_for([@gig, @gig.offers.new]) do |f|
  .row.no-margin
    .col-md-12.price_tag
      .input-group
        .input-group-addon $
        = f.text_field :price, placeholder: "Offer", class: 'form-control'
  = f.hidden_field :gig_id, value: @gig.id
  %h4
    %span#message
  = f.submit "Submit Offer", id: "btn_book", class: "btn btn-primary wide"
