= form_for(@offer, remote: true) do |f|
  .input-group
    #edit-addon.input-group-addon
      $
    = succeed "," do
      .form-control.text-left
    = f.text_field :price, rows: 1
.separator
  = f.submit Update, class: btn btn-primary
= link_to Delete, [@gig, @offer], method: :delete, class: btn btn-danger, |
  data: { confirm: Are you sure? }                                        |
