.panel.panel-default
  .panel-heading
    Your gigs
- @gigs.each do |gig|
  .panel.panel-default
    .panel-body
      .row
        .col-md-12
          = link_to gig do
            %h2= gig.name
          %p= gig.summary.truncate(50)
          - if !gig.offers.where(accepted: true).any?
            - if gig.offers.count > 0
              %p.bg-primary{:style => "display: inline-block; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"}
                Offers received: #{gig.offers.count}
            - else
              %p.bg-info{:style => "display: inline-block; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"}
                Offers received: #{gig.offers.count}
        / <div class="col-md-4">
        / <haml_loud> image_tag gig.photos[0].image.url(:thumb) if gig.photos.length &gt; 0 </haml_loud>
        / </div>
      %hr/
      - if gig.offers.where(accepted: true).any?
        - gig.offers.where(accepted: true).each do |offer|
          .row
            .col-md-3.text-center
              %h4.text-success
                $#{offer.price}
              %p.bg-success{:style => "display: inline-block; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"} Offer accepted
              %br/
              = time_ago_in_words(offer.created_at)
              ago
            .col-md-2.text-center
              = link_to user_path(offer.bidder) do
                = image_tag offer.bidder.avatar.url(:medium), class: "img-circle avatar-medium"
                %br/
                %p= offer.bidder.first_name
                = link_to conversations_path(sender_id: current_user.id, recipient_id: offer.bidder.id), method: 'post', style: "color: #fff" do
                  .btn.btn-info.thin-padding.wide
                    %i.glyphicon.glyphicon-comment.msg-btn
                    / <i class="fa fa-envelope-o"></i>
            .col-md-4
            .col-md-3.text-center
              - if offer.lister_signed_off != true
                = link_to "Sign off", sign_off_offer_path(offer), method: :post, class: "btn btn-primary", |
                  data: { confirm: "Are you sure you're ready to sign off on the work?" }                  |
              - else
                %p Signed off on work.
              - if offer.lister_signed_off == true && offer.purchased != true
                = link_to "Pay", new_offer_transaction_path(offer), class: "btn btn-primary"
              - elsif offer.purchased == true
                %p.bg-success{:style => "padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"} Paid
                %br/
                - if !@reviews_made || !@reviews_made.find_by(offer_id: offer.id)
                  = link_to "Leave a review", new_gig_offer_review_path(offer.gig, offer), class: "btn btn-primary"
                - else
                  %span.average_rating{:id => "rating-offer-#{offer.id}"}
              :javascript
                $('#rating-offer-#{offer.id}').raty({
                          		path: '/assets',
                          		readOnly: true,
                          		starType: 'i',
                          		score: #{@reviews_made.where(offer: offer).first.star if !@reviews_made.where(offer: offer).empty?}
                          	});
          %hr/
      - elsif gig.offers.outstanding.any?
        %hr/
        - gig.offers.outstanding.each do |offer|
          .row
            .col-md-2.text-center
              %h4.text-info
                $#{offer.price}
              = time_ago_in_words(offer.created_at)
              ago
            .col-md-2.text-center
              = link_to user_path(offer.bidder) do
                = image_tag offer.bidder.avatar.url(:medium), class: "img-circle avatar-medium"
                %br/
                = offer.bidder.first_name
            .col-md-2
            .col-md-6.text-center
              = link_to "Accept", accept_offer_path(offer), method: :post,                                           |
                class: "btn btn-primary",                                                                            |
                data: { confirm: "You can only accept one offer for this gig.\n\nAre you sure you want to accept?" } |
              = link_to "Decline", reject_offer_path(offer), method: :post,      |
                class: "btn btn-danger",                                         |
                data: { confirm: "Are you sure you want to reject this offer?" } |
          %hr/
        / offers
/ gigs
.row.text-center
  = will_paginate @gigs, renderer: BootstrapPagination::Rails,  inner_window: 2, outer_window: 0, next_label: "▶", previous_label: "	◀"
