.panel.panel-default
  .panel-heading
    Your offers
- @offers_made.each do |offer|
  .panel.panel-default
    .panel-body
      .row
        %div{:id => "offer-#{offer.id}"}
          .col-md-3.text-center.left
            - case offer.accepted
            - when true
              %h4.text-success
                $#{offer.price}
              %p.bg-success{:style => "padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"} Accepted
            - when false
              %h4.text-danger
                $#{offer.price}
              %p.bg-danger{:style => "padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"} Declined
            - else
              %h4.text-info
                $#{offer.price}
              %p.bg-info{:style => "padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"} Outstanding
            = time_ago_in_words(offer.created_at)
            ago
          .col-md-2.text-center
            = link_to user_path(offer.lister) do
              = image_tag offer.lister.avatar.url(:medium), class: "img-circle avatar-medium"
              %p= offer.gig.lister.first_name
              = link_to conversations_path(sender_id: current_user.id, recipient_id: offer.lister.id), method: 'post', style: "color: #fff" do
                .btn.btn-info.thin-padding.wide
                  %i.glyphicon.glyphicon-comment.msg-btn
                  / <i class="fa fa-envelope-o"></i>
          .col-md-4
            = link_to gig_path(offer.gig) do
              = image_tag offer.gig.photos[0].image.url(:thumb) if offer.gig.photos.length > 0
              %h4= offer.gig.name
              %br/
              %p= offer.gig.summary.truncate(40)
          .col-md-3.text-center
            - if offer.accepted != true
              = link_to inactivate_offer_path(offer), method: :post, remote: true do
                %span.pull-right Remove
            - elsif offer.accepted == true && offer.bidder_signed_off != true
              = link_to "Sign off", sign_off_offer_path(offer), method: :post, class: "btn btn-primary", |
                data: { confirm: "Are you sure you're ready to sign off on the work?" }                  |
            - elsif offer.accepted == true && offer.bidder_signed_off == true
              %p Signed off on work.
            - if offer.bidder_signed_off == true && offer.purchased != true
              = link_to "Pay", new_offer_transaction_path(offer), class: "btn btn-primary"
            - elsif offer.purchased == true
              %p.bg-success{:style => "padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"} Paid
              %br/
              - if !@reviews_made || !@reviews_made.find_by(offer_id: offer.id)
                = link_to "Leave a review", new_gig_offer_review_path(offer.gig, offer), class: "btn btn-primary"
              - else
                %span.average_rating{:id => "rating-offer-#{offer.id}"}
        / row
        %hr/
  :javascript
    $('#rating-offer-#{offer.id}').raty({
    	path: '/assets',
    	readOnly: true,
    	starType: 'i',
    	score: #{@reviews_made.where(offer: offer).first.star if !@reviews_made.where(offer: offer).empty?}
    });
.row.text-center
  = will_paginate @offers_made, renderer: BootstrapPagination::Rails,  inner_window: 2, outer_window: 0, next_label: "▶", previous_label: "	◀"
