%p
  Offer for $#{@gig.offers.find_by(bidder: current_user).price} submitted.
.separator
  = link_to "Edit", edit_gig_offer_path(@gig, @gig.offers.find_by(bidder: current_user)), |
    method: :get, remote: true, class: "btn btn-primary"                                  |
