= content_for :body do
  class="blue-background"
.row
  / show agar.io if nothing else to show
  - if !@offers_made.any? && !@offers_received.any? && !@gigs.any?
    .panel.panel-default
      .panel-heading
        This is your dashboard.
      %hr.padding-10/
      .panel-body
        %p But it's not very interesting without any activity. Why not make an offer?
        %br/
        / <p class="text-center"><img src="//a4.files.theultralinx.com/image/upload/MTI5MDU2ODQxNjEwMDc0NTkw.gif">
        / agar.io embed
        / <div class="miniclip-game-embed text-center hidden-xs hidden-sm" data-game-name="agar-io" data-theme="0" data-width="1100" data-height="1000" data-language="en"><a href="http://www.miniclip.com/games/agar-io/">Play Agar.io</a></div>
        / Insert this code before your </body> tag
        / <script src="//static.miniclipcdn.com/js/game-embed.js"></script>
    / else there's something to show
  - else
    = render 'shared/sidebar'
    .col-md-9
      / <haml_silent> if @offers_made.any? </haml_silent><haml_block>
      / Offers Made
      = render 'offers_made'
      / if @offers_made.any?
      / Offers Received
      - if @gigs.any?
        = render 'offers_received'
      / if !@offers_made.any? && !@offers_received.any? && !@gigs.any?
    / col-md-9
/ row
