.row
  = render 'shared/sidebar'
  .col-md-9
    .panel.panel-default
      .panel-heading
        Your Gigs
      .panel-body
        - @trips.each do |trip|
          .row
            .col-md-2
              = trip.start_date.strftime('%v')
            .col-md-6
              = link_to gig_path(trip.gig) do
                = image_tag trip.gig.photos[0].image.url(:thumb) if trip.gig.photos.length > 0
            .col-md-2
              = link_to user_path(trip.gig.user) do
                = image_tag trip.gig.user.avatar.url(:medium), class: "img-circle avatar-medium"
            .col-md-2.right
              %h4
                $#{trip.total}
          %hr/
