= content_for :body do
  class="blue-background"
.row
  = render 'shared/sidebar'
  .col-md-9
    .panel.panel-default
      .panel-heading
        Gigs
      .panel-body
        - @offers.each do |offer|
          .row
            .col-md-2
              = offer.price
            .col-md-2
              %h4= link_to offer.gig.name.truncate(50), offer.gig
            .col-md-2
              %p= offer.gig.summary.truncate(100)
            .col-md-2
              = link_to "Edit", edit_gig_path(offer.gig), class: "btn btn-primary"
            .col-md-2
              - if !offer.lister_signed_off?
                = link_to "Sign off", sign_off_offer_path(offer), method: :post, class: "btn btn-primary"
                = link_to "Cancel Gig", '#', method: :post, class: "btn btn-danger"
              - else
                %p Signed off on the work.
          %hr/
