- if @photos
  .row
    - @photos.each do |photo|
      .col-md-4
        .panel.panel-default
          .panel-heading.preview
            = image_tag photo.image.url()
          .panel-body
            %span.pull-right
              = link_to photo, remote: true, method: :delete, data: {confirm: "Are you sure?"} do
                %i.fa.fa-times.fa-lg
