/* This changes the navbar colors from the default Bootstrap black/gray */
/* navbar */
.navbar-default
{
    border-color: $blue;
    background-color: $blue;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a
{
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
{
    //color: #fff;
    color: #eaeffb;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover
{
    color: #fff;
    background-color: $blue;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret,
.navbar-default .navbar-nav > .dropdown > a:hover .caret
{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:focus .caret,
.navbar-default .navbar-nav > .open > a:hover .caret
{
    border-top-color: $blue;
    border-bottom-color: $blue;
}
/* mobile version */
.navbar-default .navbar-toggle
{
    border-color: #fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
    background-color: $blue;
}
.navbar-default .navbar-toggle .icon-bar
{
    background-color: #fff;
}
@media (max-width: 767px)
{
    .navbar-default .navbar-nav .open .dropdown-menu > li > a
    {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
    {
        color: #fff;
    }
}
/* End navbar colors =================================================== */
.navbar-brand,
.navbar-nav > li > a
{
    padding-top: 0;
    padding-bottom: 0;
}
/* This styles the "giggity" logo */
.navbar-brand
{
    font-family: pacifico;
    font-size: 2em;
    font-weight: 400;
    line-height: 54px;

    height: 65px;

    color: #fff;
}
.navbar-primary li a
{
    line-height: 65px;

    height: 65px;
}
.navbar
{
    font-family: Montserrat;

    border-bottom: 1px solid rgba(255, 255, 255, .0980392);
}
.nav-icon
{
    font-size: 2.5em;

    color: white;
}
.nav-icon:hover
{
    color: #eaeffb;
}
.nav li i
{
    font-size: .8em;
}
@media (min-width: 979px)
{
    ul.nav li.dropdown:hover > ul.dropdown-menu
    {
        display: block;
    }
}
