= content_for :body do
  class="blue-background"
.panel.panel-default
  .panel-heading
    Choose a Category
  %hr.padding-10/
  .panel-body
    - @gig_categories.each do |gig_category|
      .col-md-6.no-padding
        - if (gig_category.slug == "house-work")
          = link_to new_gig_category_gig_sub_category_gig_path(gig_category, GigSubCategory.friendly.find("general-housework")) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        - elsif (gig_category.slug == "events")
          = link_to new_gig_category_gig_sub_category_gig_path(gig_category, GigSubCategory.friendly.find("general-events")) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        - elsif (gig_category.slug == "random")
          = link_to new_gig_category_gig_sub_category_gig_path(gig_category, GigSubCategory.friendly.find("misc")) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        - else
          = link_to gig_category_gig_sub_categories_path(gig_category) do
            .discovery-card{:id => "card-#{gig_category.name.split[0]}"}
              .bg-overlay
                .va-container
                  .va-middle.text-center
                    %h2
                      %strong= gig_category.name
        / if block
    / end gig_category block
  / end panel-body
/ end panel
