@import 'globals/mixins';
@import 'globals/variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-social';
@import 'components/navbar';

/*
*= require bootstrap-slider
*= require phone_numbers.css
*= require components/navbar
*= require_self
*/

$grid-float-breakpoint: 960px;



/* General
============================================================ */

* {
  box-sizing: border-box;
}

html, body {
  font-family: Open Sans, Arial, sans-serif;
}

.sixteen {
  font-weight: normal;
  font-size: 16px;
}

// privacy policy google styles
.c7.c13 {
  font-weight: bold;
}

body {
  color: #565a5c;
  //background-color: #f0f3f6;
  //background-color: $blue;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 66px;
}

.blue-background {
  background-color: $blue;
}

a:hover, a:focus {
  color: black;
  text-decoration: none;
}

#user-form {
  .form-group {
    margin-bottom: 10px;
    input {
      background-color: #f0f3f6;
    }
  }
}
.wide900 {
  max-width: 900px;
}



.container {
	width: 80%;
}

.vertical-center {
  padding-top: 150px;
  color: white;
}

.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.content {
  padding-top: 15px;
}


.unread-messages {
  padding: 10px;
  border: none;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 5px rgba(255,255,255,1) , 0 0 10px rgba(255,255,255,1) , 0 0 15px $blue , 0 0 20px $blue , 0 0 30px $blue , 0 0 50px $blue ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.unread-messages:hover {
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}



.inset-text-effect {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 70px/1 "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-align: center;
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}




/* Highlighted text color */
::selection {
  color: #fff;
  background: #77c04b; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #fff;
  background: #77c04b; /* Gecko Browsers */
}

input:focus {
  outline: none !important;
}


.unread-message-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  border: 2px solid $blue;
}



.dropdown li a {
  height: 50px;
  line-height: 50px;
  font-size: 1 em;
  padding-left: 10px;
}


ul.dropdown-menu li a {
  i.fa-sun-o {
    font-size: 1.2em;
  }
  i.fa-home {
font-size: 1.2em;
  }

  i.fa-question {
font-size: 1.2em;

  }
}

#tos {
  padding-left: 20px;
  label {
    margin-left: 5px;
    padding-top: 2px;
    margin-bottom: 0px;
  }
}

.events {
  display: inline-block;
  background: url("/assets/eventsicon.png") no-repeat;
  background-size: 16px 16px;
  padding-top: 10px;
  width: 16px;
  height: 16px;
}

.coins {
  display: inline-block;
  background: url("/assets/coinsicon.png") no-repeat;
  background-size: 30px 30px;
  background-position: 30%;
  width: 30px;
  height: 16px;
}


/* This removes the link outlines */
a {
  outline: none !important;
}



.white-background {
  background-color: white;
}

.panel h2 {
  margin-top: 10px;
}

.caption {
  padding-top: 8px;
}

.huge {
  font-size: 50em;
}

// Discovery cards
// Yard Work
#card-Yard {
  //background-image: url('/assets/lawnmower.jpg');
  background-image: url('/assets/yardwork.gif');
}
// Cleaning
#card-Events {
  //background-image: url('/assets/cleaning-lady.jpg');
  background-image: url('/assets/events.gif');
}
// House Work
#card-House {
  //background-image: url('/assets/housetrimmed.jpg');
  background-image: url('/assets/house.gif');
}
// Random
#card-Random {
  //background-image: url('/assets/mysterymachinecartoon.jpg');
  background-image: url('/assets/random.gif');
}



@media (max-width: 600px) {
  .navbar-secondary .container-fluid {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 450px) {
  li.hidden-xxs {
    display: none;
  }
}



#error_explanation {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    margin: 0;
  }
}

/* Video Jumbotron
============================================================ */

.header-container {
  width: 100%;
  height: 490px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
  background-color: rgba(0,0,0,.7);
}

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;

}

video {
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  width: 100%;
}

iframe#jumbotron-vid {
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  width: 100%;
}

h3.task-header {
  margin-top: 10px;
}

h3.main-header {
  color: #fff;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  padding: 10px;
  border-radius: 15px;
  width: 700px;
  letter-spacing: 3px;
  font-size: 4em;

  margin-bottom: 0;
}

h4.main-header {
  color: #fff;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  padding: 10px;
  border-radius: 15px;
  max-width: 1400px;
  letter-spacing: 3px;
  font-size: 3em;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}

p.main-copy {
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 50px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}













video#test {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url("/assets/lawn.png") no-repeat;
    background-size: cover;
}

























.header-container {
  width: 100%;
  // max-height: 490px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}

.center {
  margin: 0 auto;
}

.container-center {
  float: none;
  margin: 0 auto;
  max-width: 1200px;
}

// .video-container {
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   background-color: rgba(0,0,0,.3);
// }

video {
  position: absolute;
  z-index: -1;
  opacity: 1;
  width: 100%;

}


.btn-venmo,
.btn-venmo:hover,
.btn-venmo:active {
  width: 175px;
  height: 42px;
  padding-left: 45px;
  background-color: #3D95CE !important;
  background: url("/assets/venmologolarge.png") no-repeat;
  background-size: 100px 19px;
  background-position: left 58px top 11px;
}

.fa-venmo {
  background: url("/assets/venmologosmall.png") no-repeat;
  background-size: 45px 40px;
}



// h3.main-header {
//   color: #3cbc8d;
//   z-index: 1;
//   text-align: center;
//   margin-right: auto;
//   margin-left: auto;
//   margin-top: 10%;
//   //border: 3px solid #fff;
//   padding: 10px;
//   border-radius: 15px;
//   width: 700px;
//   letter-spacing: 3px;
//   font-size: 25px;
// }







.btn-primary.btn {
  border: 1px solid #6AAB43;
  border-radius: 2px;
  background-color: #6AAB43;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #80CF51;
  background-color: #80CF51;
  outline:none;
}

.btn-primary.btn:active {
  border-color: #49752E;
  background-color: #49752E;
  outline:none;
}

.btn-danger.btn {
  border-radius: 2px;

  padding: 10px 25px 10px 25px;
}

.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat, Helvetica, sans-serif;
}

.sixty-width {
  width: 60%;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;

}

.ios-blue {
  background-color: $blue;
  color: white;
  border-radius: 30px;
}

.ios-gray {
  background-color: #e0e0e0;
  border-radius: 30px;
  color: black;
}

.min-height-362 {
  min-height: 362px;
}

.container.thin {
  width: 95%;
  margin-right: 0;
}

.blue {
  background-color: $blue;
  color: white;
}

.unread {
  border: 1px solid green;
  border-radius: 5px;
}

.fixed-right {
  position: fixed;
  right: 0;
}

#chat {
  height: 500px;
  padding: 10px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 4px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

#chat::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
#chat::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#chat::-webkit-scrollbar-thumb {
  background: #6aab43;
  border: 12px none #ffffff;
  border-radius: 20px;
}
#chat::-webkit-scrollbar-thumb:hover {
  background: #64a53c;
}
#chat::-webkit-scrollbar-thumb:active {
  background: #64a53c;
}
#chat::-webkit-scrollbar-track {
  background: #ffffff;
  border: 13px none #ffffff;
  border-radius: 20px;
}
#chat::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
#chat::-webkit-scrollbar-track:active {
  background: #ffffff;
}
#chat::-webkit-scrollbar-corner {
  background: transparent;
}


.panel-primary .panel-heading {
  font-size: 18px;
  font-weight: 400;
  background-color: $blue;
  font-family: Montserrat, Helvetica, sans-serif;
}

html {
  height: -o-calc(100% - 127px); /* opera */
  height: -webkit-calc(100% - 127px); /* google, safari */
  height: -moz-calc(100% - 127px); /* firefox */
}
.col-centered {
  float: none;
  margin: 0 auto;
}

.fill {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.search-map {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padding-left-15px {
  margin-left: -15px !important;
}

.thin-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small {
	width: 28px;
	height: 28px;
}

.avatar-medium {
	width: 48px;
	height: 48px;
}

.avatar-large {
	width: 68px;
	height: 68px;
}

.avatar-adjust {
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.avatar-full {
	width: 100%;
}

.gig .form-group {
  margin-bottom: 0px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

textarea.form-control {
  max-width: 100%;
}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.profile .sidebar-item {
  border: none;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}


label, .form-header {
  color: #565a5c;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  background: url('/assets/caret.png') no-repeat right #fff;
  -webkit-appearance: none;
  background-position: 95%;
  option {
    font-size: 1.1em;

  }
}

.help-block {
  font-size: 14px;
}

.avatar-absolute {
  position: absolute;
  right: 11px;
  //bottom: 53px;
  top: -5px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.absolute-rating {
  position: absolute;
  right: -15px;
  top: 50px;
}

.strikethrough {
  text-decoration: line-through;
}

.gig-name {
  margin-bottom: 10px;
  font-size: 1.2em;
}


.hr-thin {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
}

select:active, select:hover {
  outline-color: $blue;
}


input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-right: 10px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}
.checkbox label input {
  margin-top: 1px;
  margin-left: -25px !important;
}



span.radio {
  display: block;
}


input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  top: -5px;
  left: -2px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 1.25em;
  color: $blue;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.bootstrap-filestyle.input-group {
  width: 100%;
}


.panel-heading.preview {
  padding: 0;
}

// .panel-heading.preview img{
//   width: 100%;
// }

.inline {
  display: inline-block;
}


.amenities li {
  margin-bottom: 10px;
  list-style-type: none;
}

.text-line-through {
  text-decoration: line-through
}

.offer-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.block-green {
  background-color: #6AAB43 !important;
}

.white {
  color: white;
}

.white:hover,
.white:active,
.white:focus {
  color: white;
}

.wide {
  width: 100%;
}

.price_tag {
  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  p {
      margin-bottom: 0;
  }
}

.separator {
  margin-top: 5px;
  margin-bottom: 10px;
}




#offer-edit-form {
  background-color: #606567;
  border: none;
  font-size: 1.2em;
  input {
    width: 100%;
  }
  margin-bottom: 10px;
}

#edit-addon {
  background-color: #606567;
  border: none;
  color: white;
  font-size: 1.6em;
  padding-right: 0;
}

.input-group-addon {
  background-color: #606567;
  border: none;
  color: white;
  font-size: 1.6em;
  padding-right: 10;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
}

html, body {
  font-family: Montserrat, Helvetica, Open Sans, Arial, sans-serif;
}




.conversation {
  position: relative;
  color: #161616;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 30px;
  overflow: hidden;
}

.sent-message {
  background-color: $blue;
  color: white;
}

.small {
  font-size: .8em;
  font-style: italic;
}

.wee {
  font-size: 0.8em;
}

.italics {
  font-style: italic;
}

.no-margin-padding {
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
}


.conversation:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.conversation:active,
.conversation:focus {
  box-shadow: none;
}

#map {
  height: 100%;
}

.panel.panel-default.thin-padding {
  padding: 20px;
}

.max-600 {
  max-width: 600px;
}

.panel-body label {
  margin-bottom: 5px;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.discovery-card.square {
  width: 326p;
}

.discovery-card:hover .bg-overlay {
  vertical-align: middle;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.bg-overlay {
  height: 100%;
  vertical-align: middle;
}

.va-container {
  display: table;
  width: 100%;
  height: 100%;
}

.no-padding {
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-img {
  margin: 0 auto;
}

.va-middle {
  color: #fff;
  vertical-align: middle;
  display: table-cell;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  //text-shadow: 2px 2px #000;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

}



.gig-thumb {
  margin-bottom: 0;
  width: 175px;
  min-width: 175px;
  height: 175px;
  min-height: 175px;

}

.thumb {
  margin-right: 20px;
}

#howitworks {
  background-image: url("https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/business-online-marketing-bc981af1f15280d45b29eca12dcab168.jpg");
  background-size: cover;
  color: #fff;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  height: 300px;
}

#howitworks h1 {
  line-height: 165px;
  vertical-align: center;
}




span.btn.btn-default.btn-file {
  margin-top: 0;
}

.toast-top-right {
  top: 80px;
}


@media all and (max-width: 240px) {
    .toast-top-right {
        top: 0px;
    }
}
@media all and (min-width: 241px) and (max-width: 320px) {
    .toast-top-right {
        top: 0px;
    }
}
@media all and (min-width: 321px) and (max-width: 480px) {
    .toast-top-right {
        top: 0px;
    }
}










.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}





.timestamp {
  font-size: 1em;
  color: gray;
}

.brand {
  font-family: pacifico;
  color: white;
  font-size: 2.5em;
}

.pacifico {
  font-family: pacifico;
}

.large-font {
  font-size: 1.2em !important;
}






.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /*This is the important part*/
  font-family: "FontAwesome";

  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  /*the "\f057" represents an unfilled circle with an x in it*/
  /*each of these can be configured to be whichever icon you would like*/
  /*fore more information on the icon code, look at the link listed below*/
  content: "\f057";
  color: #6AAB43;
  font-size: 24px;
}

.btn-info {
  background-color: $blue;
}

.cancel-off-png:before {
  content: "\f05c";
  color: #6AAB43;
  font-size: 24px;
}

.star-on-png:before {
  content: "\f005";
  color: #6AAB43;
  font-size: 24px;
}

.star-off-png:before {
  content: "\f006";
  color: #6AAB43;
  font-size: 24px;
}

.star-half-png:before {
  content: "\f123";
  color: #6AAB43;
  font-size: 24px;
}


#user_stars {
  font-size: 24px;

}










.numberCircle {
    border-radius: 50%;
    display: inline-block;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 28px;
    height: 28px;
    background: #6AAB43;
    color: #fff;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    font-family: Montserrat, Helvetica, sans-serif;
}


.average_rating-home {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 12px;
  margin-right: 10px;
}

.average_rating-home .star-on-png:before {
  content: "\f005";
  color: #6AAB43;
  font-size: 1.3em;
}

.average_rating-home .star-off-png:before {
  content: "\f006";
  color: #6AAB43;
  font-size: 1.3em;
}

.average_rating-home .star-half-png:before {
  content: "\f123";
  color: #6AAB43;
  font-size: 1.3em;
}


.admin-msg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  height: 55px;
  width: 55px;
  opacity: 1;
  background: url("/assets/adminlogo.png");
  background-size: 100% 100%;
}

ul.pagination {
  li a,
  li a:hover,
  li a:active,
  li a:visited {
    color: #6AAB43;

  }
  li.active span,
  li.active span:hover {
    background-color: #6AAB43;
    border-color: #6AAB43;
  }
}



.average_rating {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 12px;
}

.average_rating .star-on-png:before {
  content: "\f005";
  color: #6AAB43;
  font-size: 1.3em;
}

.average_rating .star-off-png:before {
  content: "\f006";
  color: #6AAB43;
  font-size: 1.3em;
}

.average_rating .star-half-png:before {
  content: "\f123";
  color: #6AAB43;
  font-size: 1.3em;
}









.subheader {
  margin-top: 20px;
  color: rgb(148, 157, 178);

}

h1, h2, h3, h4 {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h3 {
  color: rgb(113, 122, 143);
}

.form-div {
  margin-bottom: 30px;
  color: rgb(50,58,59);
}

p.task-description {
  color: rgb(113, 122, 143);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.bot-margin {
  margin-bottom: 10px;
}


// .form-header {
//   margin-bottom: 0;
//   padding-bottom: 0;
//   color: rgb(50, 58, 59);
//   font-size: 1.4em;
// }

hr.form-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group.radio_buttons {
  margin-bottom: 0;
}

.form-group.radio_buttons label {
  font-size: 1em;
}

.checkbox label {
  font-size: 1em;
  padding-left: 0;
}


abbr[title="required"] {
  display: none;
}

.fill {
    min-height: 100%;
    height: 100%;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}





.address-box .panel {
  padding-top: 15px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: rgb(113, 122, 143);
}



/* FORM LABEL BOLDNESS!!!!!
.gig-radios {
  label {
    font-weight: bold;
  }
}

.bold {
  font-weight: bold;
}
*/

.thin-padding {
  padding: 5px !important;
}

.msg-btn {
  font-size: 2em;
}

.gray-line {
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: #424242;
}

.footer {

  width: 100%;
}

.footer-primary {
  min-height: 290px;
  background-color: $blue;
}

.footer-secondary {
  min-height: 358px;

  background-color: #2f3339;
  color: #ffffff;
}

.footer-tertiary {
  min-height: 104px;

  background-color: #22262c;
  color: #515b6a;
}

.slider-selection {
  background-color: #f4f4f4;
}

.slider-handle {
  background: none;
  background-color: white;
  border: 2px solid #6AAB43;
}

.slider.slider-horizontal {
  width: 100%;
}







// .header-bg-video {
//   height: 490px;
//   width: 100%;
// }


// video#test {
//     position: absolute;
//     // top: 50%;
//     // left: 50%;

//     // z-index: -100;
//     // -ms-transform: translateX(-50%) translateY(-50%);
//     // -moz-transform: translateX(-50%) translateY(-50%);
//     // -webkit-transform: translateX(-50%) translateY(-50%);
//     // transform: translateX(-50%) translateY(-50%);
//     // background: url(/assets/polina.jpg) no-repeat;
//     background-size: cover;
//     background-position: center;
// }






// .videoWrapper {
// 	height: 490px;
// }
// .videoWrapper iframe {
// 	width: 100%;
// 	height: 100%;
// }




// header.header-header {
//     position: relative;
//     overflow: hidden;
//     width:100%;
//     height:490px;
//     text-align:center;
// }
// div.div-header {
//     position:absolute;
//     height:100%;
//     width:200%;
//     left:-50%;
// }
// video {
//     position:absolute;
//     top: -99999px;
//     bottom: -99999px;
//     left: -99999px;
//     right: -99999px;
//     margin: auto;
//     min-height:100%;
//     min-width:50%;
// }















#age-tooltip i {
  line-height: 20px;
  vertical-align: middle;
}


.huge-icon {
  font-size: 8em;
  color: $blue;
}

.home-subtitle {
  font-size: 2em;
  color: $blue;
}

li div.tooltip-inner {
  text-align: center;
  // -webkit-border-radius: 0px;
  // -moz-border-radius: 0px;
  // border-radius: 0px;
  // background-color: #505050;
  margin-bottom: 6px;
  font-size: 16px;
  padding: 8px;
  padding-left: 17px;
  padding-right: 17px;
}

hr.bold {
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;

  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #ccc;
}

select#state {
  margin-bottom: 10px;
}


.input-wrapper { position: relative; }
.input-wrapper input { text-indent: 30px;}
.input-wrapper .fa {
  color: #bdbdbd;
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 1.8em;
}

.input-wrapper .fa-lock {
  left: 15px;
  pointer-events: none;
}

.fa-lg {
  font-size: 2.5em !important;
}

.fa-md {
  font-size: 1.2em !important;
}

.input-wrapper .fa-user {
  left: 13px;
  pointer-events: none;
}

.input-wrapper .fa-mobile {
  left: 16px;
  pointer-events: none;
}

.input-wrapper .fa-commenting-o {
  left: 12px;
  top: 6px;
  pointer-events: none;
}

.input-wrapper .fa-map-marker {
  left: 15px;
  pointer-events: none;
}

.footer-content {
  padding-top: 80px;

}


h4.footer-title {
  text-transform: uppercase;
  font-size: 1em;
}

.no-style {
  list-style-type: none;
  padding: 0;
  li {
    color: white;
  }
}



.left2px {
  margin-left: 3px;
}

.panel-default .panel-heading {
  background-color: white;
  font-size: 28px;
  border-bottom: none;
}

.padding-10 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #ccc;
}




// video, iframe {
//   width: 100%;
//   height: auto;
// }

// #videoContainer {
// height: 490px;
// width: 100%;
// }


// .videoContainer {
//   width: 100vw; /*now it is 100% of viewport (window) width.*/
//   display: inline-block;
//   position: relative;
//   height: 490px;
// }

// .videoContainer::after {
//   padding-top: 56.25%; /* 16:9 ratio - divide height by width and multiply by 100 */
//   display: block;
//   content: '';
// }

// .videoContainer>iframe{
//   display:block;
//   width:100%;
//   height:100vh;
//   position:absolute;
//   top:0;
//   left:0;
// }






// .video-section .pattern-overlay {

// background-color: rgba(71, 71, 71, 0.59);
// padding: 110px 0 32px;
// min-height: 496px;
// /* Incase of overlay problems just increase the min-height*/
// }
// .video-section h1, .video-section h3{
// text-align:center;
// color:#fff;
// }
// .video-section h1{
// font-size:110px;
// font-family: 'Buenard', serif;
// font-weight:bold;
// text-transform: uppercase;
// margin: 40px auto 0px;
// text-shadow: 1px 1px 1px #000;
// -webkit-text-shadow: 1px 1px 1px #000;
// -moz-text-shadow: 1px 1px 1px #000;
// }
// .video-section h3{
// font-size: 25px;
// font-weight:lighter;
// margin: 0px auto 15px;
// }
// .video-section .buttonBar{display:none;}
// .player {
//   font-size: 1px;}


header#cont{
	height: 490px;
	//position: relative;
}

/* hero_area div containing video needs to be the size of parent div height, thus top, left, right, bottom helps to stretch hero_area div to the size of parent by giving position absolute.
 * overflow hides the video over-flowing outside the current size of hero_area. this can be helpful to control the visible part of video by pulling it using position value in video (top / bottom/ left/ right).
*/

// .hero_area{
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	top: 0;
// 	position: absolute;
// 	overflow: hidden;
// }

// audio, canvas, iframe{
// 	display: inline-block;
// }

// /* here bottom value can be set to 0 to always match the buttom part of the video with the buttom part of the containing div, in our case hero_area. I have used negative -150px to pull the video downward so that i can chop some unwanted area which overflow of parent(hero_area) will hide.
// * as width is set to 100%, and height to auto, as the width of the browser changes height is auto calculated making the video responsive
// */

// .hero_area iframe{
// 	bottom: -150px;
// 	position: absolute;
// 	width: 100%;
// 	height: auto;
// }

// .test {
//   width: 100%;
//   max-height: 490px;
//   overflow: hidden;
// }

#video-background {
/*  making the video fullscreen  */
  position: absolute;
  display: block;
  right: 0;
  top: 300px;
  min-width: 100%;
  width: initial;
  height: 490px;
  z-index: -1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}


.five {
  width: 15px;
}

.test {
  width: 100%;
  height: 490px;
  overflow: hidden;
}

#video-block {
  height: 490px;
}

// #pretzel-video {
//     bottom: 0;
//     position: absolute;
//     width: 100%;
//     height: auto;
// }

// video {
//     display: inline-block;
// }



select#user_birthday_2i {
  width: 45%;
  display: inline !important;
}

select#user_birthday_3i {
  width: 25%;
  display: inline !important;
}

select#user_birthday_1i {
  width: 25%;
  display: inline !important;
}
