// Place all the styles related to the phone_numbers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#verify-pin,
#status-box,
#services-form,
#services-form-about-me,
#profile-done
 {
  display: none;
}

.relative {
  position: relative;
}

// .inset-text-effect-2 {
//   left: 0;
//   top: 20px;
//   position: absolute;
//   z-index: 50;
//   display: inline-block;
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
//   border: none;
//   font: normal 70px/1 "Aladin", Helvetica, sans-serif;
//   color: rgba(48,48,48,1);
//   text-align: center;
//   text-transform: normal;
//   -o-text-overflow: clip;
//   text-overflow: clip;
//   white-space: pre;
//   text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
// }

.center {
  margin: 0 auto;
}

.margin-top {
  margin-top: 5px;
}

.margin-top-2 {
  margin-top: -10px;
}

.pacifico {
  font-size: .8em !important;
}

.inset-text-effect-2 {
  left: 0;
  top: 55px;
  font-size: 5em;
  position: absolute;
  font-family: Pacifico !important;
  z-index: 50;
  line-height: 80%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 70px/1 "Aladin", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }