= content_for :body do
  class="blue-background"
- if @result
  - if @result.errors.any?
    #user-form.row
      .col-sm-6.col-sm-offset-3
        .panel.panel-default
          .panel-body
            - if @error
              = @error
            %h4= pluralize(@result.errors.count, "error")
            - @result.errors.each do |error|
              %p
                Error #{error.code}, #{error.message}
              - if error.code == "91513"
                %p.bg-danger{:style => "padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; border-radius: 10px;"}
                  This error means #{@offer.bidder.first_name} hasn't set
                  up his payment info yet. Tell him to add his Venmo account so he can get paid!
            %hr/
            %p Sometimes these errors can be pretty cryptic so if you need help please send us a message.
#user-form.row
  .col-sm-6.col-sm-offset-3.text-center
    .panel.panel-default
      .panel-body
        %h2 Purchase offer
        %hr.separator/
        / <h4>The gig</h4>
        %h3= @offer.gig.name
        %hr/
        / <h4>The offer</h4>
        = image_tag @offer.bidder.avatar.url(:medium), class: "img-circle avatar-large"
        %br/
        = @offer.bidder.first_name
        %br/
        %span.average_rating{:id => "rating-#{@offer.bidder.id}"}
        %br/
        %br/
        %hr/
        :javascript
          $('#rating-#{@offer.bidder.id}').raty({
          	path: '/assets',
          	readOnly: true,
          	starType: 'i',
          	score: #{@offer.bidder.average_rating}
          });
        / <p>Price: <haml_loud> formatted_price(@offer.price) </haml_loud></p>
        = form_tag offer_transactions_path do
          .text-center
            / <haml_loud> render &#39;customer_form&#39; unless current_user.has_payment_info? </haml_loud>
            / <p>Please enter your payment details:</p>
            #dropin
            = submit_tag "Pay $#{@offer.price}", class: "btn btn-primary"
        %script{:src => "https://js.braintreegateway.com/js/braintree-2.21.0.min.js"}
