= content_for :body do
  class="blue-background"
.row
  .panel.panel-default.wide900.center
    .panel-heading
      What do you need done?
    %hr.padding-10/
    .panel-body
      .gig
        / <haml_silent> if @gig.errors.any? </haml_silent><haml_block>
        / <div class="alert alert-danger" id="error_explanation">
        / <h2><haml_loud> pluralize(@gig.errors.count, &quot;error&quot;) </haml_loud> kept this gig from being posted</h2>
        / <ul>
        / <haml_silent> @gig.errors.full_messages.each do |msg| </haml_silent><haml_block>
        / <li><haml_loud> msg </haml_loud></li>
        / </haml_block>
        / </ul>
        / </div>
        / </haml_block>
        = simple_form_for [@gig_category, @gig_sub_category, @gig], :html => { multipart: true } do |f|
          = f.hidden_field :gig_category_id, value: @gig_category.id
          = f.hidden_field :gig_sub_category_id, value: @gig_sub_category.id
          = f.hidden_field :active, value: true
          .row.form-div
            .col-md-12
              = f.input :name, label: "Give your gig a title", placeholder: "Be clear and descriptive", wrapper_html: { class:  'form-header' }
          - case GigCategory.friendly.find(params[:gig_category_id]).slug
          - when "yard-work"
            - case GigSubCategory.friendly.find(params[:gig_sub_category_id]).slug
            - when "lawn-mowing"
              .row.form-div
                .col-md-12
                  %h4.form-header How big is your lawn?
                  %hr.form-divider/
                  = f.input :lawn_size, collection: Gig.lawn_sizes, label: false,                      |
                    as: :radio_buttons, checked: (params[:gig][:lawn_size] if params[:gig]) || "Small" |
              .row.form-div
                .col-md-12
                  %h4.form-header How long does it normally take you to mow your lawn?
                  %hr.form-divider/
                  = f.input :lawn_mowing_time, collection: Gig.lawn_mowing_times, label: false,                      |
                    as: :radio_buttons, checked: (params[:gig][:lawn_mowing_time] if params[:gig]) || "Under 1 Hour" |
              .row.form-div
                .col-md-12
                  %h4.form-header What would you like the runner to bring?
                  %hr.form-divider/
                  %ul.list-inline.gig-radios
                    .col-md-3
                      %li
                        = f.input :bring_lawnmower, label: "Lawnmower", as: :boolean
                    .col-md-3
                      %li
                        = f.input :bring_bags, label: "Bags", as: :boolean
                    .col-md-3
                      %li
                        = f.input :bring_weed_whacker, label: "Weed Whacker", as: :boolean
                    .col-md-3
                      %li
                        = f.input :bring_hedge_trimmer, label: "Hedge Trimmer", as: :boolean
            - when "leaf-raking"
              .row.form-div
                .col-md-12
                  %h4.form-header How big is your lawn?
                  %hr.form-divider/
                  = f.input :lawn_size, collection: Gig.lawn_sizes, label: false, as: :radio_buttons, checked: (session[:gig]['lawn_size'] if session[:gig]) || "Small"
            - when "gardening"
            - else
            / gig sub category - lawn care
          - when "house-work"
          - when "events"
          - else
          / gig category
          .row.form-div
            .col-md-12
              = f.input :summary, label: "Summary", placeholder: "Tell us all about your gig. You should be descriptive enough to allow people to make accurate bids.", |
                input_html: { rows: 5, value: (session[:gig]['summary'] if session[:gig]) }, wrapper_html: { class:  'form-header' }                                    |
          .row.form-div
            .col-md-8
              %span.wee
                = f.input :address, label: "Address",	placeholder: "What's your address?", |
                  input_html: {  'data-toggle': "tooltip",                                 |
                  title: "This will only be shown to the runner when you accept an offer", |
                  'data-placement': 'left' }, wrapper_html: { class: 'form-header' }       |
            .col-md-4
              = f.input :zip_code, label: "Zip code", placeholder: "What's your zip?", |
                wrapper_html: { class: 'form-header' }                                 |
          .row.form-div
            .col-md-6.col-md-offset-3.text-center
              %label{:style => "font-size: 1.4em"} Take a picture of your gig!
              %span{"data-toggle" => "tooltip", :title => "Photos are strongly recommended so that\n    \t\t\t\t\t\tyou get accurate estimates."}
                %i.fa.fa-question-circle.fa-md
              = file_field_tag "images[]", type: :file, class: 'filestyle', multiple: true, |
                :'data-classButton' => 'btn btn-primary', 'data-size': 'md',                |
                :'data-input' => 'false', 'data-iconName': 'fa fa-cloud-upload fa-md',      |
                :'data-buttonText' => 'Upload photos'                                       |
              %p.italics Under 5 MB, .gif, .jpg, .png
          #photos= render 'photos/list'
          %br/
          .row
            .col-md-6.col-md-offset-3.text-center
              = f.submit "Post it!", class: "btn btn-success btn-lg "
          %br/
        / form
