- content_for :body do
  class="blue-background"
.row
  .col-md-8
    .panel.panel-default.box-shadow--8dp.min-height-362
      .panel-body
        / Image
        .row
          .col-md-12
            = image_tag @photos[0].image.url(), class: "img-responsive" if @photos.length > 0
        %br/
        / Main Info
        .row
          .col-md-8.no-margin-padding
            .row
              .col-md-5.text-center.no-margin-padding
                = link_to @gig.lister do
                  = image_tag @gig.lister.avatar.url(:thumb), class: "img-circle avatar-large"
                  %br/
                  = @gig.lister.first_name
                %br/
                %br/
                #average_rating
                = pluralize(@gig.lister.reviews_received.count, "review")
              .col-md-7
                %h4= @gig.name.titleize
                :javascript
                  $('#average_rating').raty({
                  	path: '/assets',
                  	readOnly: true,
                  	starType: 'i',
                  	score: #{@gig.lister.average_rating}
                  });
          / col-md-8
          / Offers
          .col-md-4.text-center
            %p.bg-info{:style => "padding: 5px 10px; border-radius: 10px"}= pluralize(@gig.offers.count, "offer") + " for this gig"
            - if !@gig.offers.find_by(bidder: current_user) && current_user != @gig.lister
              / offer form
              = render 'offers/form'
            - elsif @gig.offers.find_by(bidder: current_user) && current_user != @gig.lister
              #offer_box.price_tag
                %p
                  Offer for $#{@gig.offers.find_by(bidder: current_user).price} submitted.
                = link_to "Edit", edit_gig_offer_path(@gig, @gig.offers.find_by(bidder: current_user)), |
                  method: :get, remote: true, class: "btn btn-primary"                                  |
            - else
        / row
        %hr/
        / Summary
        .row
          .col-md-3
            %h3 The Gig
          .col-md-9
            %p= @gig.summary
        / Details
        - if @gig.gig_category.name == "Yard Work"
          %hr/
          .row
            .col-md-2
              %h3 Details
            .col-md-10
              .row
                .col-xs-12
                  %ul.amenities.text-center
                    - case @gig.gig_category.name
                    - when "Yard Work"
                      - case @gig.gig_sub_category.name
                      - when "Lawn Mowing"
                        .col-sm-3
                          %h4 Lawn size:
                          = @gig.lawn_size
                        .col-sm-3
                          %h4 Time to mow:
                          = @gig.lawn_mowing_time
                        .col-sm-6
                          %h4 Need to bring:
                          %p{:class => "#{"strikethrough" if @gig.bring_lawnmower != true}"} Lawnmower
                          %p{:class => "#{"strikethrough" if @gig.bring_bags != true}"} Bags
                          %p{:class => "#{"strikethrough" if @gig.bring_weed_whacker != true}"} Weed whacker
                          %p{:class => "#{"strikethrough" if @gig.bring_hedge_trimmer != true}"} Hedge Trimmer
                      - when "Leaf Raking"
                        .col-sm-3
                          %h4 Lawn size:
                          = @gig.lawn_size
                      - when "Gardening"
                      - when "Other"
                    - when "House Work"
                    - when "Remote"
                    - when "Random"
            / col md 9
          / details row
        %br/
        / Carousel
        - if @photos.length > 1
          .row
            .col-md-10.col-md-offset-1
              #myCarousel.carousel.slide{"data-ride" => "carousel"}
                - if @photos
                  / Indicators
                  %ol.carousel-indicators
                    - @photos.each do |photo|
                      %li{"data-slide-to" => "#{photo.id}", "data-target" => "#myCarousel"}
                .carousel-inner{:role => "listbox"}
                  - if @photos
                    - @photos.each do |photo|
                      %div{:class => "item #{'active' if photo.id == @photos[0].id}"}
                        = image_tag photo.image.url()
                %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                  %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
                  %span.sr-only Previous
                %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                  %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                  %span.sr-only Next
            / col-md-10
          / carousel row
          %br/
          %hr/
        / if @photos.length > 1
      / panel body
    / panel
  / col 8
  / Message sidebar
  .col-md-4
    - if current_user && current_user != @gig.lister
      .row-space-2
        = link_to conversations_path(sender_id: current_user.id, recipient_id: @gig.lister.id), method: 'post', style: "color: #fff" do
          .btn.btn-primary.wide
            %i.fa.fa-envelope-o
            Send Message
      / Edit Gig button
    - elsif current_user == @gig.lister
      .row-space-1
        = link_to "Edit gig", edit_gig_path, class: "btn btn-primary wide"
      .row-space-1
        = link_to "Cancel gig", @gig, method: :delete,                                                 |
          class: "btn btn-danger wide", data: { confirm: "Are you sure you want to cancel this gig?" } |
    / address panel
    .address-box
      .panel.panel-default.box-shadow--8dp.thin-padding
        #map-location
        %br/
        .row
          .col-md-12
            - if current_user
              %p= "#{@gig.city}, #{@gig.state} #{@gig.zip_code}"
              = link_to "https://www.google.com/maps/place/#{@gig.zip_code}",  target: "_blank" do
                %i.fa.fa-map-marker.fa-lg
                Get directions
            - else
              %p Location hidden to guests.
  / right col
/ row
:css
  #map-location {
  	min-height: 300px;
  	width: 100%;
     }
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBB5xhA50o4gwmicNZmd21aCnPbQeQ30pE&callback=initMap"}
/ Google Map
#mapNearBy.hidden-xs
:css
  #mapNearBy {
  		height: 300px;
  		width: 100%;
    }
:javascript
  function initMap() {
      var gigLatLng = {lat: #{@gig.latitude}, lng: #{@gig.longitude}};
      var mapGigLocation = new google.maps.Map(document.getElementById('map-location'), {
        center: gigLatLng,
        disableDefaultUI: true, // a way to quickly hide all controls
        zoom: 13,
      });
  
  <haml_silent>   if @gig.latitude != nil &amp;&amp; @gig.longitude != nil 
  </haml_silent><haml_block>
  		var marker = new google.maps.Marker({
  			position: gigLatLng,
  			map: mapGigLocation
  		});
  </haml_block>
  	var mapNearBy = new google.maps.Map(document.getElementById("mapNearBy"), {
  		center: {lat: #{@gig.latitude}, lng: #{@gig.longitude}},
  	    zoom: 12,
  	    scrollwheel: false
  	});
  
  <haml_silent>	 if @gig.latitude != nil &amp;&amp; @gig.longitude != nil 
  </haml_silent><haml_block>	var marker = new google.maps.Marker({
  		position: gigLatLng,
  		map: mapNearBy
  	});
  </haml_block>
  	 var styles = [
  		  {
  		    "featureType": "water",
  		    "stylers": [
  		      { "color": "#3396ff" },
  		      { "saturation": -10 },
  		      { "gamma": 0.96 },
  		      { "lightness": 30 }
  		    ]
  		  },{
  		    "featureType": "landscape.natural.landcover",
  		    "stylers": [
  		      { "color": "#808080" },
  		      { "saturation": -2 },
  		      { "lightness": 84 }
  		    ]
  		  },{
  		    "featureType": "road.highway",
  		    "elementType": "geometry.fill",
  		    "stylers": [
  		      { "lightness": 100 }
  		    ]
  		  },{
  		    "featureType": "road.highway.controlled_access",
  		    "elementType": "geometry.stroke",
  		    "stylers": [
  		      { "saturation": -3 },
  		      { "lightness": -100 },
  		      { "visibility": "off" }
  		    ]
  		  },{
  		    "featureType": "road",
  		    "elementType": "geometry.fill",
  		    "stylers": [
  		      { "lightness": 100 }
  		    ]
  		  },{
  		    "featureType": "landscape.man_made",
  		    "stylers": [
  		      { "lightness": 2 },
  		      { "saturation": -41 }
  		    ]
  		  },{
  		  },{
  		    "featureType": "road",
  		    "elementType": "geometry.fill"  },{
  		    "featureType": "road",
  		    "elementType": "geometry.stroke",
  		    "stylers": [
  		      { "lightness": 100 }
  		    ]
  		  },{
  		    "featureType": "transit.line",
  		    "stylers": [
  		      { "visibility": "on" },
  		      { "color": "#ff8080" },
  		      { "weight": 1 }
  		    ]
  		  },{
  		    "featureType": "transit.station.rail",
  		    "elementType": "labels.icon",
  		    "stylers": [
  		      { "weight": 0.1 },
  		      { "hue": "#ff3c00" }
  		    ]
  		  },{
  		  }
  		];
  
  
  		mapGigLocation.setOptions({styles: styles});
  		mapNearBy.setOptions({styles: styles});
  
  		var MAP_PIN = {
  	    path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
  	    fillColor: '$blue',
  		fillOpacity: 1,
  		strokeColor: '',
  		strokeWeight: 0
  	  };
  
  	var label = "<i class='fa fa-anchor'></i>";
  
  <haml_silent>	 @gigsNearBy.each do |gig| 
  </haml_silent><haml_block>
  		var marker = new google.maps.Marker({
  			map: mapNearBy,
  			position: new google.maps.LatLng(#{gig.latitude}, #{gig.longitude}),
  			title: '#{gig.name}',
  			label: ''
  		});
  
  		marker.setMap(mapNearBy);
  </haml_block>}
.container.hidden-xs
  / Close by gigs
  - if @gigsNearBy
    %h3.white Near by
    .row
      - for gig in @gigsNearBy.sample(3)
        .col-md-4
          .panel.panel-default
            .panel-heading.preview.img-responsive.text-center
              = image_tag gig.photos[0].image.url(:medium) if gig.photos.length > 0
            .panel-body
              .row.no-margin
                .col-xs-9.no-padding
                  .gig-name
                    = link_to gig.name, gig
                    %br/
                  (#{gig.distance.round(2)} miles away)
                .col-xs-3.relative.no-padding
                  .avatar-absolute
                    = image_tag gig.lister.avatar.url(:thumb), class: "img-circle avatar-medium"
                  %span.absolute-rating.average_rating-home{:id => "rating-gig-#{gig.id}"}
                  / <p class="inline"><haml_loud> gig.lister.average_rating </haml_loud> Reviews</p>
                  / <div class="numberCircle"></div>
              :javascript
                $('#rating-gig-#{gig.id}').raty({
                	path: '/assets',
                	readOnly: true,
                	starType: 'i',
                	score: #{gig.lister.average_rating}
                });
