= content_for :body do
  class="blue-background"
.panel.panel-default
  .panel-heading
    Leave a review
  %hr.padding-10/
  .panel-body
    - if @review.errors.any?
      - @review.errors.full_messages.each do |error|
        %ul
          %li= error
    = form_for([@gig, @offer, @review]) do |f|
      #user_stars
      .form-group
        = f.text_area :comment, rows: 3, class: "form-control"
      .actions
        = f.submit "Post", class: "btn btn-primary"
:javascript
  $('#user_stars').raty({
  	path: '/assets',
  	scoreName: 'review[star]',
  	starType: 'i',
  	score: 3,
  });
