- if @reviews_received.count == 0
  .text-center
    %h4 No reviews yet
- else
  - @reviews_received.order("created_at desc").each do |r|
    .row
      .col-md-2.text-center
        = link_to user_path(r.reviewer) do
          = image_tag r.reviewer.avatar.url(:medium), class: "img-circle avatar-large"
          %br/
          = r.reviewer.first_name
      .col-md-4.text-center
        %strong
          %div{:id => "stars_#{r.id}"}
        .timestamp
          = time_ago_in_words(r.created_at)
          ago
      .col-md-6
        = r.comment
        %span.pull-right
          = link_to "Remove", [@user, r], method: :delete, class: "btn btn-danger",data: {confirm: "Are you sure?"} if current_user && current_user == r.reviewer
    %hr/
    :javascript
      $('#stars_#{r.id}').raty({
      	path: '/assets',
      	readOnly: true,
      	starType: 'i',
      	score: #{r.star}
      });
  .row.text-center
    = will_paginate @reviews_received, renderer: BootstrapPagination::Rails, inner_window: 2, outer_window: 0, next_label: "▶", previous_label: "◀"
