= simple_form_for(@sale) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email
    = f.input :guid
    = f.association :offer
    = f.input :stripe_id
  .form-actions
    = f.button :submit
