%p#notice= notice
%h1 Listing Sales
%table
  %thead
    %tr
      %th Email
      %th Guid
      %th Offer
      %th Stripe
      %th{:colspan => "3"}
  %tbody
    - @sales.each do |sale|
      %tr
        %td= sale.email
        %td= sale.guid
        %td= sale.offer
        %td= sale.stripe_id
        %td= link_to 'Show', sale
        %td= link_to 'Edit', edit_sale_path(sale)
        %td= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Sale', new_sale_path
