%p#notice= notice
%table
  %tr
    %th Key
    %th Value
  - @sale.attributes.sort.each do |key, value|
    %tr
      %td= key
      %td= value
%table
  %thead
    %tr
      %th Timestamp
      %th Event
      %th Changes
  %tbody
    - @sale.versions.each do |version|
      %tr
        %td= version.created_at
        %td= version.event
        %td
          - version.changeset.sort.each do |key, value|
            %b>= key
            \: #{value[0]} to #{value[1]}
            %br/
= link_to 'Stripe', "https://manage.stripe.com/payments/#{@sale.stripe_id}"
= link_to 'Back', sales_path
