/ <div class="row" id="user-form">
/ <div class="col-sm-6 col-sm-offset-3 text-center">
/ <div class="panel panel-default">
/ <div class="panel-body">
/ <haml_loud> simple_form_for @user, url: wizard_path, method: :put do |f| </haml_loud><haml_block>
/ <div class="input-wrapper" id="phone">
/ <span class="fa fa-mobile"></span>
/ <haml_loud> f.input :phone, label: false, placeholder: &quot;Cell phone&quot;, wrapper_html: { class:  &#39;form-header&#39; }  </haml_loud>
/ </div>
/ <haml_loud> f.submit &quot;Submit&quot;, class: &quot;btn btn-primary&quot; </haml_loud>
/ </haml_block>
/ </div>
/ </div>
/ </div>
/ </div>
= render 'phone_numbers/form'
