!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title giggity
    = include_gon
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Pacifico|Montserrat|Open+Sans", :rel => "stylesheet", :type => "text/css"}/
    /
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.light_blue-light_green.min.css" />
      <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'giggitylogo.png'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{user_signed_in? ? current_user.id : ""}", :name => "user-id"}/
    / Start of Zopim Live Chat Script
    :javascript
      var ua = navigator.userAgent.toLowerCase(),
      platform = navigator.platform.toLowerCase();
      platformName = ua.match(/ip(?:ad|od|hone)/) ? 'ios' : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0],
      isMobile = /ios|android|webos/.test(platformName);
      if (!isMobile) {
         window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      		_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      		$.src="//v2.zopim.com/?3jXZUR2PNnmlhpnd12sDdb4MwIeWMKCg";z.t=+new Date;$.
      		type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
      		}
    = analytics_init if GoogleAnalytics.valid_tracker?
    %meta{:content => "#{user_signed_in? ? current_user.id : ""}", :name => "user-id"}/
    / End of Zopim Live Chat Script
    /
      <haml_loud>javascript_include_tag &quot;https://www.authy.com/form.authy.min.js&quot; </haml_loud>
      <haml_loud>stylesheet_link_tag &quot;https://www.authy.com/form.authy.min.css&quot; </haml_loud>
  %body
    = yield :body

    \#{render 'shared/navbar'}
    - if current_page?(root_path)
      = render 'pages/jumbotron'
    .container-fluid.content.container-center
      = render 'shared/message'
      = yield
    = debug(params) if Rails.env.development?
    = render 'shared/footer'
