!!!
/[if IE 9 ] <html class="ie ie9 no-js" lang="en">
/ [if gt IE 9 | !IE]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "assets/img/favicon.ico", :rel => "icon"}/
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/vendor.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/custom.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat|Pacifico", :rel => "stylesheet", :type => "text/css"}/
    / [if lte IE 9]><!
    %script{:src => "assets/js/vendor/html5shiv.min.js"}
    / <![endif]
  %body
    .site
      .site-loader
        .site-loader-spinner
      / .site-loader
      .site-canvas
        %main.site-main
          #home.section.block-primary.position-r.align-c-xs-max
            #particles-js.site-bg
              .site-bg-img
              .site-bg-video
              .site-bg-overlay
              .site-bg-effect.layer{"data-depth" => ".30"}
              %canvas.site-bg-canvas.layer{"data-depth" => ".30"}
            / .site-bg
            .container
              .row.row-table
                .col-sm-6
                  .col-inner{"data-sr" => "left"}
                    .section-heading
                      %h1 How It Works
                      %h4 Spend more time doing what you love.
                    / .section-heading
                    .section-content
                      / <a class="btn btn-pink m-y-5" href="#about">Learn More</a>
                      / <a class="btn btn-warning m-y-5" href="#download">Get The App</a>
                    / .section-content
                .col-sm-6.col-md-p-l-1.m-t-60-xs-max
                  .col-inner.clearfix
                    %img.img-responsive.float-r-sm-min.m-x-auto-xs-max{:alt => "", "data-sr" => "right", :src => "assets/img/double-phone-giggity.png"}/
          / #home
          #about.section.p-a-0.align-c
            .container-fluid.p-x-0
              .row.row-table
                .col-sm-4.block-invert.p-x-30-sm-max.p-x-60-md-min.p-t-20-sm-min.align-t-sm-min
                  .col-inner.p-y-50-sm-min.p-y-30-xs-max.max-width.m-x-auto-xs-max
                    .icon-box._center
                      .icon-box-media
                        %img{:alt => "", "data-sr" => "bottom", :src => "/assets/circleg.png"}/
                      .icon-box-heading
                        %h3
                          what is
                          = succeed "?" do
                            %span.pacifico{:style => "text-transform: lowercase !important"} giggity
                      .icon-box-content
                        %p
                          %span.pacifico{:style => "font-size: 1.3em"} giggity
                          is a community.
                          It's a marketplace for services, where buyers and
                          sellers can come together to help each other out and get
                          things done without the traditional back and forth of
                          contractors and quotes.
                .col-sm-4.block-pink.block-green.p-x-30-sm-max.p-x-60-md-min.p-t-20-sm-min.align-t-sm-min
                  .col-inner.p-y-50-sm-min.p-y-30-xs-max.max-width.m-x-auto-xs-max
                    .icon-box._center
                      .icon-box-media
                        %img{:alt => "", "data-sr" => "bottom", :src => "/assets/star.png"}/
                      .icon-box-heading
                        %h3 Reviews
                      .icon-box-content
                        %p
                          This is a review-driven, open community.
                          Instead of background checks and applications,
                          gigs are open to all members of your community.
                          We rely on feedback to ensure only the best service is provided.
                .col-sm-4.block-light.p-x-30-sm-max.p-x-60-md-min.p-t-20-sm-min.align-t-sm-min
                  .col-inner.p-y-50-sm-min.p-y-30-xs-max.max-width.m-x-auto-xs-max
                    .icon-box._center
                      .icon-box-media
                        %img{:alt => "", "data-sr" => "bottom", :src => "assets/img/icon/window.png"}/
                      .icon-box-heading
                        %h3 Complete Transparency
                      .icon-box-content
                        %p
                          We exist to make your life easier. If you have any comments
                          or questions you can ping us at any time with the message
                          form in the bottom right.
          / #about
          #brief_1.section.block-default.align-c-xs-max
            .container
              .row.row-table
                .col-sm-6
                  .col-inner
                    .section-heading
                      %h2 Short on cash?
                      %p
                        Browse gigs in your area, and if you find something you can do, make an offer. Help someone out and put some money in your pocket.
                    / .section-heading
                    .section-content
                      %ul.icon-list.align-l.m-t-30
                        %li
                          %img{:alt => "", :src => "assets/img/icon/chat.png"}>/
                          Messaging is free. Ask the poster for more info or tell them why they should pick you.
                        %li
                          %img{:alt => "", :src => "assets/img/icon/thumb-up.png"}>/
                          Someone accepted your offer? Hooray! Exchange contact info and meet up to do the work. There's no fee for using the app, so you keep everything you make.
                        / <li><img src="assets/img/icon/gift.png" alt="">Integrated payments are in development, but for now payments should be handled offline.</li>
                      %a.btn.btn-invert{:href => "/search", :target => "_parent"} Find a gig
                    / .section-content
                .col-sm-6.m-t-60-xs-max.p-l-60-md-min
                  .col-inner.clearfix
                    %img.img-responsive.float-r-sm-min.m-x-auto-xs-max{:alt => "", "data-sr" => "right", :src => "assets/img/icon/moneyguy.png"}/
          / #brief_1
          #brief_2.section.block-warning.block-light-blue.align-c-xs-max
            .container
              .row.row-table
                .col-sm-6.m-b-60-xs-max.p-r-60-md-min
                  .col-inner.clearfix
                    %img.img-responsive.float-l-sm-min.m-x-auto-xs-max{:alt => "", "data-sr" => "left", :src => "assets/img/icon/timeguy.png"}/
                .col-sm-6
                  .col-inner
                    .section-heading
                      %h2 Short on time?
                    / .section-heading
                    .section-content
                      %p What do you need done? Post your gig and let people in your neighborhood make competing offers to do the work. This is an open community, so anyone can make an offer.
                      %ul.icon-list.align-l.m-t-30
                        %li
                          %img{:alt => "", :src => "assets/img/icon/star.png"}>/
                          How tough is your gig? Maybe you want someone with a proven track record, or are willing to go with someone with fewer reviews who will do the job for less.
                        %li
                          %img{:alt => "", :src => "assets/img/icon/thumb-up.png"}>/
                          Once you find someone you like, accept their offer and exchange contact info.
                        / <li><img src="assets/img/icon/pencil.png" alt="">After the job is done, make sure you sign off on the work and leave a review.</li>
                        / <li><img src="assets/img/icon/gift.png" alt="">Integrated payments are in development, but for now payments should be handled offline.</li>
                      %a.btn.btn-pink{:href => "/gig_categories", :target => "_parent"} Post a gig
                    / .section-content
          / #brief_2
          #brief_3.section.block-success.block-orange.align-c-xs-max
            .container
              .row.row-table
                .col-sm-6
                  .col-inner
                    .section-heading
                      %h2 Sign off on the work
                      %p When the work is done, be sure to sign off and leave a review. You can cancel the gig at any time if you change your mind or aren't satisfied with the work.
                    / .section-heading
                    .section-content
                      %ul.icon-list.align-l.m-t-30
                        %li
                          %img{:alt => "", :src => "assets/img/icon/gift.png"}>/
                          We  connect buyers and sellers - payments should be handled offline.
                        %li
                          %img{:alt => "", :src => "assets/img/icon/thumb-up.png"}>/
                          Finished with the job? Make sure to "sign off," where you can leave a review.
                      %h3 Ready? Let's do this.
                      %a.btn.btn-invert{:href => "/search", :target => "_parent"} Find a gig
                      %a.btn.btn-pink{:href => "/gig_categories", :target => "_parent"} Post a gig
                    / .section-content
                .col-sm-6.m-t-60-xs-max.p-l-60-md-min
                  .col-inner.clearfix
                    %img.img-responsive.float-r-sm-min.m-x-auto-xs-max{:alt => "", "data-sr" => "right", :src => "assets/img/icon/timeformoney.png"}/
          / #brief_3
        / .site-main
    %script{:src => "assets/js/vendor/jquery-1.11.3.min.js"}
    %script{:src => "assets/js/vendor/bootstrap.min.js"}
    %script{:src => "assets/js/vendor/plugin.js"}
    %script{:src => "assets/js/variable.js"}
    %script{:src => "assets/js/main.js"}
    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    /
      <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
      </script>
